<section data-ng-controller="UsersController" data-ng-init="findNew()">
  <div class="page-header">
  	<h2>New User List</h2>
  </div>

  <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
    <ul>
        <li>{{errorMessage}}</li>
    </ul>
  </div>

  <div class="filterform">
  	<form class="form-inline" data-role="form">
  	  <div class="form-group">
		<div class="btn-group" data-ng-class="{open: open}">
		    <button class="btn btn-default">Filter by Status</button>
	        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="open=!open">
	        	<span class="caret"></span>
	        	<span class="sr-only">Toggle Dropdown</span>
	        </button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a href data-ng-click="checkAll()"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

	            </li>
	            <li><a href data-ng-click="selectedStatus=[];"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

	            </li>
	            <li class="divider"></li>
	            <li data-ng-repeat="js in comtechJobStatus" data-ng-init="checkAll()"> <a href data-ng-click="setSelectedStatus(js.code)">{{js.name}}<span data-ng-class="isChecked(js.code)"></span></a>
	            </li>
	        </ul>
        </div>
  	  </div>
  	  <div class="form-group">
  	    	<label class="sr-only" for="search.keywords">Keywords</label>
  	  		<input type="text" class="form-control" data-ng-model="search.keyword" placeholder="Filter by Keyword">
  	  </div>
  	</form>
  </div>
  <div class="table-responsive" data-ng-show="!userList || userList.length">
	  <table class="table table-striped">
	  	<thead>
	  	  <tr>
	  	  	<th>#</th>
	  	  	<th style="width:20%">Actions</th>	  	  	
	  	  	<th><a href="" ng-click="predicate = 'title'; reverse=!reverse" >Email</a></th>
	  	  	<th><a href="" ng-click="predicate = 'status'; reverse=!reverse" >Name</a></th>
	  	  	<th><a href="" ng-click="predicate = 'skills'; reverse=!reverse" >Status</a></th>
	  	  	<th><a href="" ng-click="predicate = 'hiringMgr.last'; reverse=!reverse" >Provider</a></th>
	  	  	<th><a href="" ng-click="predicate = 'leadRec.name.last'; reverse=!reverse" >Created</a></th>
	  	  </tr>
	  	</thead>
	  	<tbody>
		  <tr data-ng-repeat="user in userList | filter:search.keyword | orderBy:predicate:reverse">
		  	<td>{{$index + 1}}</td>
			<td><button class="btn btn-primary btn-xs" data-ng-click="approve(user)" style="margin-right:.1em;">Approve</a> 
				<!-- Button trigger modal -->
				<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" data-ng-click="selectUser(user)">
  					Reject
				</button>
			</td>		  	
		  	<td>{{user.email}}</td>
		  	<td>{{user.name.first}} {{user.name.last}}</td>
		  	<td>{{user.regStatus}}</td>
			<td>{{user.provider}}</td>
			<td>{{user.created | date:'MM/dd/yyyy @ h:mma'}}</td>
		  </tr>
		</tbody> 
	  </table>	
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Rejection</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to reject this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="modalreject(user)">Reject</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<h3 data-ng-hide="!userList || userList.length">No new users found.</h3>
</section>