extends ../layouts/co_default

block content
	script(type="text/javascript" src="http://platform.linkedin.com/in.js").
		api_key: qmif23aow47u

	script(type="text/javascript").
		function liApplySucess(r) {
		$("#liSuccess").toggleClass("hidden");
		$("#native").toggleClass("hidden");
		};
	

	.row
		.col-md-12
			if (typeof errors !== 'undefined' && errors.length !== 0)
				.alert.alert-danger.alert-dismissable
					a.close(data-dismiss="alert", href="javascript:void(0)") x
					p= errors

	if (job)

		div.page-header.jobheader
			h2 Application for Employment
				small= " - " + job.title + " - " + job.location.city + ", " + job.location.state


			div
				div.page-header.jobheader
					h2 Apply with LinkedIn

				form.form-horizontal(role="form", method='get', action='/auth/lapply', enctype='multipart/form-data')
					div(style="margin:0 auto; max-width:600px; margin-bottom:40px;")

						div.form-group
							label.col-sm-4.control-label(for="phone") Telephone number*
							div.col-sm-8
								input.form-control(type="tel", id="phone", name='phone', placeholder="703-123-4567", required)

						input(type='hidden', name='jobSource', value=jobSource)
						input(type='hidden', name='jobId', value=job._id.toString())
						input(type='hidden', name='jobTitle', value=job.title + " - " + job.location.city + ", " + job.location.state)
						input(type='hidden', name='meta', value=meta)

						input(type='image', src='SkilentExperiment/recrootly/app/views/comtechllc/applywithlinkedIn.png', alt='Submit', width='200', height='35')

					div.pull-right
						button.btn.btn-lg.btn-blue.jobs-back(type="submit") Submit Application via LinkedIn
						a.btn.btn-lg.btn-back.jobs-back(href="/comtechllc/jobs/" + job.id) Return to Job Description



		div#liSuccess.hidden
			div.pull-right	
				a.btn.btn-lg.btn-blue.jobs-back(href="/comtechllc/jobs/") Comtech Careers

			div.clearfix			

		div#native
			div.page-header(style="margin-bottom:20px;")
				div.apply-heading-title
					h2.h2-section-title OR

			div
				div.page-header.jobheader
					h2 Submit Your Resume

				form.form-horizontal(role="form", method='post', action='/comtechllc/applications', enctype='multipart/form-data')
					div(style="margin:0 auto; max-width:600px; margin-bottom:40px;")
						div.form-group
							label.col-sm-2.control-label(for="firstName") First Name
							div.col-sm-10
								input.form-control(type="text", id="firstName", name='firstName', placeholder="First", required)

						div.form-group
							label.col-sm-2.control-label(for="lastName") Last Name
							div.col-sm-10
								input.form-control(type="text", id="lastName", name='lastName', placeholder="Last", required)

						div.form-group
							label.col-sm-2.control-label(for="phone") Phone
							div.col-sm-10
								input.form-control(type="tel", id="phone", name='phone', placeholder="703-123-4567")

						div.form-group
							label.col-sm-2.control-label(for="email") Email
							div.col-sm-10
								input.form-control(type='email', id='email', name='email', placeholder='email@example.com', required)

						input(type='hidden', name='jobSource', value=jobSource)
						input(type='hidden', name='jobId', value=job._id.toString())
						input(type='hidden', name='jobTitle', value=job.title + " - " + job.location.city + ", " + job.location.state)
						input(type='hidden', name='meta', value=meta)

						//fileinput should be the last field submitted to node multiparty
						//this helps accurately determine filesize for streaming to S3
						// Server-side upload will potentially be replaced by jquery client-side upload
						div.form-group
							label.col-sm-2.control-label(for="resume") Resume
							div.col-sm-10
								div.fileinput.fileinput-new(data-provides="fileinput")
									span.btn.btn-plain.btn-file
										span.fileinput-new Select file
										span.fileinput-exists Change
										<input type="file" id="resume" name="resume" required>
									span.fileinput-filename
									<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>

					div.pull-right	
						a.btn.btn-lg.btn-back.jobs-back(href="/comtechllc/jobs/"+job.id) Back to Job					
						button.btn.btn-lg.btn-blue.jobs-back(type="submit") Submit
