extends ../layouts/co_default

block content

	script(type="text/javascript").
		$(document).ready(function(){
		$('#jobSource').change(function () {
		if ($(this).val() == 'Other') {
		$('div#otherDiv').removeClass( 'hidden' );
		$("#otherSource").attr("required", true);
		} else {
		$('div#otherDiv').addClass( 'hidden' );
		$("#otherSource").removeAttr("required");
		}
		});
		});

	.row
		.col-md-12
			if (typeof messages !== 'undefined' && messages.length !== 0)
				.alert.alert-danger.alert-dismissable
					a.close(data-dismiss="alert", href="javascript:void(0)") x
					p= messages

	if (job)

		form.form-horizontal(role="form", method='post', action='/comtechllc/jobs/'+job.id+'/apply')
			div.page-header.jobheader
				h2 How did you hear about us? 
					
			div(style="margin:0 auto; max-width:550px;")
				div.form-group
					label.control-label.col-sm-4 Job:
					div.col-sm-8
						p.form-control-static= job.title	+ " - " + job.location.city + ", " + job.location.state   		

				
				div.form-group
					label.control-label.col-sm-4(for="race") Source:
					div.col-sm-8
						select.form-control(id="jobSource", name="jobSource", required='true')
							option(value="") Select Source
							option(value="CareerBuilder") CareerBuilder
							option(value="Comtech Careers") Comtech Careers
							option(value="Dice") Dice
							option(value="Employee Referral") Employee Referral
							option(value="HotJobs") HotJobs
							option(value="Indeed") Indeed
							option(value="LinkedIn") LinkedIn
							option(value="Monster") Monster
							option(value="Other") Other (Please Specify)
							option(value="Unemployement Website") Unemployment Website

				div#otherDiv.form-group.hidden
					label.control-label.col-sm-4(for="otherSource") Other (Specify Source):
					div.col-sm-8
							input.form-control(id="otherSource", name="otherSource")   		

			

			div.page-header.jobheader(style="margin-top:80px;")
				h2 Equal Employment Opportunity Information 
					small - Optional

			p As an equal opportunity employer, we hire without consideration to race, religion, creed, color, national origin, age, gender, sexual orientation, marital status, veteran status or disability. We invite you to complete the optional self-identification fields below used for compliance with government regulations and record-keeping guidelines.</p>
			p Completion of this form is voluntary.
			<Br>


			div(style="margin:0 auto; max-width:550px;")

				div.form-group
					label.control-label.col-sm-3(for="gender") Gender:
					div.col-sm-9
						select.form-control(id="gender", name="gender")
							option(value="N/A") Select Gender
							option Female
							option Male
							option Choose Not to Disclose
				
				div.form-group
					label.control-label.col-sm-3(for="race") Race:
					div.col-sm-9
						select.form-control(id="race", name="race")
							option(value="N/A") Select Race
							option Hispanic or Latino
							option White (not Hispanic or Latino)
							option Black or African American (not Hispanic or Latino)
							option Native Hawaiian or Other Pacific Islander (not Hispanic or Latino)
							option Asian (not Hispanic or Latino)
							option American Indian or Alaska Native (not Hispanic or Latino)
							option Two or More Races (not Hispanic or Latino)
							option Choose Not to Disclose												    		

				div.form-group
					label.control-label.col-sm-3(for="veteran") Veteran Status:
					div.col-sm-9
						select.form-control(id="veteran", name="veteran")
							option(value="N/A") Select Veteran Status
							option None
							option Disabled Veterans
							option Other Protected Veterans
							option Armed Forces Service Medal Veterans
							option Recently Separated Veterans
							option Choose Not to Disclose    			 
	

			div.pull-right
				a.btn.btn-back.btn-lg.jobs-back(href="/comtechllc/jobs/"+job.id) Back to Job
				button.btn.btn-lg.btn-blue.jobs-back(type="submit") Next
