extends ../layouts/co_default

block content
	.row
		.col-md-12
			if (typeof errors !== 'undefined' && errors.length !== 0)
				.alert.alert-danger.alert-dismissable
					a.close(data-dismiss="alert", href="javascript:void(0)") x
					p= errors

	if (jobs.length)
		p If you are disabled and need assistance in completing the online application, please contact Comtech Human Resources at (703)-291-0561 and we will assist you.
		.col-sm-12
			div.table-responsive
				table.table.table-striped
					thead
						tr(style="background-color:#ffffff; color:#000000")
							th(style="width:10%") Actions	  	  	
							th(style="width:20%") Title
							th(style="width:10%") Location
							th Skills
							th(style="width:15%") Posted
					tbody
						each job in jobs
							tr
								td
									a.btn.btn-blue.btn-white-link(href='/comtechllc/jobs/'+job._id, rold='button') View
								td
									=job.title
								td 
									=job.location.state
								td
									each skill in job.skills
										span.tag= skill
										&nbsp;
								td
									= formatDate(job.created)
	else
		p No open jobs currently available.


