extends ../layouts/co_default

block content

	.row
		.col-md-12
			if (typeof errors !== 'undefined' && errors.length !== 0)
				.alert.alert-danger.alert-dismissable
					a.close(data-dismiss="alert", href="javascript:void(0)") x
					p= errors

	if (job)
	
		div.col-md-8.col-sm-12
			div.page-header.jobheader
				h2= job.title
					small= " - " + job.location.city + ", " + job.location.state

		div.col-md-4.col-sm-12.col-xs-12
			div.pull-right
				a.btn.btn-back.btn-lg.jobs-back(href="/comtechllc/jobs") Back to Careers
				a.btn.btn-lg.btn-blue.jobs-back(href="/comtechllc/jobs/"+job.id+"/eeo") Apply
	
		div.clearfix

		div.panel.panel-default
			div.panel-heading
				h3.panel-title Description       
			div.panel-body
				pre= job.description


		div.panel.panel-default
			div.panel-heading
				h3.panel-title Skills

			div.panel-body
				each skill in job.skills
					span.tag.tag-lg= skill


		div.panel.panel-default
			div.panel-heading
				h3.panel-title Experience

			div.panel-body
				div
					span.bolder Minimum years of work:
					=" "+job.minExp
				div
					span.bolder Minimum education:
					=" "+job.minEducation


		if (job.salary.public)
			div.panel.panel-default
				div.panel-heading
					h3.panel-title Compensation

				div.panel-body
					div
						span.bolder Annual Salary:
						=" $"+job.salary.annualRange
						<br>
						span.bolder Hourly Salary:
						=" $" + job.salary.hourlyRange
						<br>
						span.bolder Signing Bonus:
						=" $"+ job.signBonus
						<br>
						span.bolder Relocation Bonus:
						=" $"+ job.relo



		div.panel.panel-default
			div.panel-heading
				h3.panel-title Miscellaneous


			div.panel-body
				span.bolder Job Location:
				= " " + job.location.city + ", " + job.location.state
				<br>                    
				span.bolder Job Type:
				=" " + job.jobType
				<br>          
				span.bolder Job Authorization:
				= " " + job.workAuth
				<br>
				span.bolder Posted:
				= " " + formatDate(job.created)

		div.panel.panel-default
			div.panel-heading
				h3.panel-title Company Overview       
			div.panel-body
				p Comtech, LLC is a full-service information systems engineering and services provider located in Northern Virginia. Comtech delivers end-to-end solutions for business and government enterprise using state-of-the-art, cutting-edge products and best practices. Comtech's customer list includes federal and state government agencies as well as Fortune 500 and medium-size enterprises in industries such as technology, healthcare, financial and defense. The Comtech team includes engineers and specialists with a diverse background in deploying comprehensive IT solutions, including needs assessment, implementation, system training, and management. Comtech LLC is an equal opportunity and affirmative action employer M/F/D/V.

		div.pull-right
			a.btn.btn-back.btn-lg.jobs-back(href="/comtechllc/jobs") Back to Careers
			a.btn.btn-lg.btn-blue.jobs-back(href="/comtechllc/jobs/"+job.id+"/eeo") Apply
