extends ../layouts/co_default

block content

	.row
		.col-md-12
			if (typeof messages !== 'undefined' && messages.length !== 0)
				.alert.alert-danger.alert-dismissable
					a.close(data-dismiss="alert", href="javascript:void(0)") x
					p= messages

	if (errorMsg)
		div(style="margin-bottom:100px;")
			div.page-header.jobheader
				h2= title

			p.bg-danger= errorMsg	

	else
		div(style="margin-bottom:100px;")
			div.page-header.jobheader
				h2 Application submitted

			p Your application has been submitted.  You will hear back from us shortly.  Thank you.	

	div.center-block
		a.btn.btn-blue.btn-lg(href="/comtechllc/jobs/") Comtech Careers