<section data-ng-controller="IndexController" data-ng-init="checkUser()">
 
        <div class="row clearback">
          <div id="titleBlock">
            <h2>skilent</h2>
            <p>A modern candidate tracking system</p>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <a class="btn btn-lg btn-linkedin btn-block" href='/auth/linkedin' target='_self' role="utton">
              <i class="fa fa-linkedin"></i> | Connect w/ LinkedIn
            </a>
          </div>
        </div>
</section>