<div class="container">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">skilent</a> 
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}(/[0-9a-f]{24})?(/edit)?(/create)?(/applications/[0-9a-f]{24}/edit)?" data-ng-class="{active: $uiRoute}">
              <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>      
      </ul>

      <ul class="nav navbar-nav navbar-right" data-ng-hide="global.authenticated">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="/signin"><span class="glyphicon glyphicon-lock"></span> Sign In</a></li>
      </ul>



      <ul class="nav navbar-nav navbar-right" data-ng-show="global.authenticated">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{global.user.name.first}} {{global.user.name.last}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/signout">Signout</a></li>
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</div>


