<section>
<form name="registerForm" method="post" class="form-horizontal form-register">
  <h2>New Account</h2>

  <div class="row form-group" data-ng-class="{ 'has-error': showError && registerForm.username.$invalid }">
    <div class="col-md-12">
      <input type="email" name="username" class="form-control" placeholder="e-mail address" data-ng-model="formData.username" focus="focus.username" required/>
      <div data-ng-show="registerForm.username.$error.email" class="text-danger">Invalid email.</div>
    </div>
  </div>

  <div class="row form-group" data-ng-class="{ 'has-error': showError && registerForm.password.$invalid }">
    <div class="col-md-12">
      <input type="password" name="password" class="form-control" placeholder="password" data-ng-model="formData.password" data-ng-minlength="6" data-ng-maxlength="20" focus="focus.password" required/>
      <div data-ng-show="registerForm.password.$error.minlength || registerForm.password.$error.maxlength" class="text-danger">Password has to be between 6 and 20 characters.</div>
    </div>
  </div>

  <div class="row form-group" data-ng-class="{ 'has-error': showError && registerForm.passwordRepeat.$invalid }">
    <div class="col-md-12">
      <input type="password" name="passwordRepeat" class="form-control" placeholder="repeat password" data-ng-model="formData.passwordRepeat" data-ng-class="{ 'has-error': showError && registerForm.username.$error.required }" data-ng-minlength="6" data-ng-maxlength="20" focus="focus.passwordRepeat" required/>
      <div data-ng-show="showError && (formData.password != formData.passwordRepeat)" class="text-danger">Passwords do not match.</div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6" data-ng-class="{ 'has-error': showError && registerForm.firstName.$invalid }">
      <input type="text" name="firstName" class="form-control" placeholder="first name" data-ng-model="formData.firstName" focus="focus.firstName" required/>
    </div>
    <div class="col-md-6">
      <input type="text" name="lastName" class="form-control" placeholder="last name" data-ng-model="formData.lastName" focus="focus.lastName"/>
    </div>
  </div>

  <hr>

  <p>
    <button class="btn btn-primary btn-lg btn-register" type="submit" data-ng-click="register(formData, registerForm)">
      Register
    </button>
    <a class="btn btn-default btn-lg btn-login" href="#!/signin">
      Sign In
    </a>
  </p>
</form>

</section>