<section>

<div class="row" data-ng-show="message">
    <div class="col-md-12">
        <div class"fade in alert alert-block alert-error">
          <a class="close" data-dismiss="alert" href="javascript:void(0)"> x</a>
          <ul><li>message</li></ul>
        </div>      
    </div>          
</div>

<form name="loginForm" class="signin form-horizontal form-login" method="post" action="users/session" novalidate>
  <h2>Please Sign In</h2>
    <div class="row form-group" data-ng-class="{ 'has-error': showError && loginForm.email.$invalid }">
      <div class="col-md-12">	
    	<input class="form-control" type='email' name="email" placeholder='Email address' focus='focus.email' data-ng-model="formData.email" required />
      	<div ng-show="loginForm.email.$error.email" class="text-danger">Invalid email.</div>
      </div>
    </div>

    <div class="row form-group" ng-class="{ 'has-error': showError && loginForm.password.$invalid }">
      <div class="col-md-12">
      	<input class="form-control" type='password' name="password" placeholder='Password' g-minlength='6' data-ng-maxlength='20' focus='focus.password' data-ng-model="formData.password" required />
      	<div data-ng-show="loginForm.password.$error.minlength || loginForm.password.$error.maxlength" class="text-danger">Password has to be between 6 and 20 characters.</div>
      </div>
    </div>

    <hr />

    <p>
      <button class="btn btn-primary btn-lg btn-login" type="submit" data-ng-click="login(formData, loginForm)">Sign in</button>
      &nbsp;
      <a class="btn btn-default btn-lg btn-register" href="#!/register">Register</a>
    </p>

    <hr />

    <p>
      <a class="btn btn-facebook btn-block" href='/auth/facebook' target='_self'>
        <i class="icon-facebook"></i> | Connect with Facebook
      </a>
    </p>
    <p>
      <a class="btn btn-google-plus btn-block" href='/auth/google' target='_self'>
        <i class="icon-google-plus"></i> | Connect with Google+
       </a>
    </p>
    <p>
      <a class="btn btn-twitter btn-block" href='/auth/twitter' target='_self'>
        <i class="icon-twitter"></i> | Connect with Twitter
      </a>
    </p>  
</form>    
</section>