<section data-ng-controller="SocialSearchCtrl" data-ng-init="">
	<div class="col-sm-12">
		<div class="page-header">		
	 		<h2>Social Search</h2>
		</div>

		<div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
			<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
			<ul>
				<li>{{errorMessage}}</li>
			</ul>
		</div>

		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-sm-4">
					<label class="sr-only" for='searchInput'>Search Terms</label>
					<input class="form-control" type='text' data-ng-model='myForm.searchTerm' id='searchInput' placeholder='Enter a specific technology' nt-trim='true' required>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
	  		  			<span class="input-group-addon">Location:</span>
						<input class="form-control" type='text' data-ng-model='myForm.location' placeholder='City, State, or Country' >
					</div>
				</div>
				<div class="col-sm-3">
					<div class="input-group">
	  		  			<span class="input-group-addon">Radius:</span>
						<input class="form-control" type='text' data-ng-model='geo.radius'>
					</div>
				</div>								
				<div class="col-sm-1">
					<button class="btn btn-primary" type="submit" data-ng-click="searchSocial()" data-ng-disabled="!myForm.location">Search</button>
				</div> 
			</div>
		</form>

		<div data-ng-show="showTagResults" cg-busy="'searchTagsTracker'">

			<div class="panel-group" id="accordion">
			  <div class="panel panel-info" data-ng-class="{isopen: isopen}" data-ng-show="tagResults">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" href="#devTags" data-ng-click="isopen=!isopen">
			          Related Development Keywords <i class="pull-right glyphicon " data-ng-class="{'glyphicon-chevron-down': !isopen, 'glyphicon-chevron-up': isopen}"></i>
			        </a>
			      </h4>
			    </div>
			    <div id="devTags" class="panel-collapse collapse">
			      <div class="panel-body">
			        <button data-ng-repeat="tg in tagResults" type="button" class="btn btn-labeled btn-default btn-sm button-tag tag-sm">{{tg.name}}</button>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-info" data-ng-class="{isopen2: !isopen2}" data-ng-show="serverTagResults">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" href="#serverTags" data-ng-click="isopen2=!isopen2">
			          Related Server Keywords <i class="pull-right glyphicon " data-ng-class="{'glyphicon-chevron-down': !isopen2, 'glyphicon-chevron-up': isopen2}"></i>
			        </a>
			      </h4>
			    </div>
			    <div id="serverTags" class="panel-collapse collapse">
			      <div class="panel-body">
			        <button data-ng-repeat="stg in serverTagResults" type="button" class="btn btn-labeled btn-default btn-sm button-tag tag-sm">{{stg.name}}</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

		<tabset data-ng-show="showResults" style="margin-top:20px;">
			<tab>
				 <tab-heading>
       				<i class="fa fa-twitter"></i> Twitter
      			</tab-heading>

				<div id="resultPanel" cg-busy="'searchTracker'" >

					<div class="alert alert-danger alert-dismissable" data-ng-show="twErrorMessage" style="margin-top:20px;">
						<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
						<ul>
						    <li>{{twErrorMessage}}</li>
						</ul>
					</div>

					<div data-ng-hide="results.statuses">
						<h3>No Twitter results found.</h3>
					</div>

					<div class="col-sm-12" data-ng-show="results.statuses">
						<div class="row">
							<h3>Twitter Results - <small>Page {{currentPage+1}} of {{numberOfPages()}}</small></h3>
							<div class="table-responsive">
								<table class="table table-striped">
									<tr data-ng-repeat='tweet in results.statuses | startFrom:currentPage*pageSize | limitTo:pageSize'>
										<td> 
											<a href='https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}' target='_blank' tooltip="View Original Tweet">{{tweet.text}}</a>
											<span style="margin-right:10px;">{{tweet.geo.coordinates}} - {{tweet.user.location}}</span>
											 <a class="btn btn-info btn-xs" data-ng-href="{{tweet.entities.urls[0].url}}" target="_blank" data-ng-show="tweet.entities.urls">URL Attached</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="row">
							<ul class="pager">
			  					<li class="previous" data-ng-class="{disabled: currentPage == 0}" data-ng-click='previousClick()'><a href="" >&larr; Previous</a></li>
			  					<li class="next" data-ng-class="{disabled: currentPage >= rlength/pageSize - 1}" data-ng-click='nextClick()'><a href="" >Next &rarr;</a></li>
							</ul>
						</div>
					</div>


		<!-- 			<div class="col-sm-6" style="margin-top:3em;">
						<div class="leaflet-spin" ng-hide="coords">
							<i class="fa fa-spinner fa-spin fa-3x"></i>
						</div>
						<leaflet center='current' markers='markers' class="img-responsive"></leaflet>
					</div> -->
				</div>
			</tab>
			<tab>
				<tab-heading>
       				<i class="fa fa-github"></i> Github
      			</tab-heading>
				<div id="ghResultPanel" cg-busy="'searchGhTracker'">

					<div class="alert alert-danger alert-dismissable" data-ng-show="ghErrorMessage" style="margin-top:20px;">
						<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
						<ul>
						    <li>{{ghErrorMessage}}</li>
						</ul>
					</div>

					<div data-ng-hide="ghResults">
						<h3>No Github results found.</h3>
					</div>

					<div class="col-sm-12" data-ng-show="ghResults">
						<div class="row">
							<h3>Github Results - <small>Page {{ghCurrentPage+1}} of {{ghNumberOfPages()}}</small></h3>
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Username</th>
											<th>Profile URL</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat='gh in ghResults | startFrom:ghCurrentPage*ghPageSize | limitTo:ghPageSize'>
											<td>{{gh.login}}</td>
											<td><a data-ng-href="{{gh.html_url}}" target="_blank">{{gh.html_url}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<ul class="pager">
			  					<li class="previous" data-ng-class="{disabled: ghCurrentPage == 0}" data-ng-click='ghPreviousClick()'><a href="" >&larr; Previous</a></li>
			  					<li class="next" data-ng-class="{disabled: ghCurrentPage >= ghRlength/ghPageSize - 1}" data-ng-click='ghNextClick()'><a href="" >Next &rarr;</a></li>
							</ul>
						</div>
					</div> 
				</div>     			
			</tab>			
			<tab>
				<tab-heading>
       				<i class="fa fa-stack-exchange"></i> Stack Exchange
      			</tab-heading>
				<div id="seResultPanel" cg-busy="'seTopAnswerersTracker'">

					<div class="alert alert-danger alert-dismissable" data-ng-show="seErrorMessage" style="margin-top:20px;">
						<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
						<ul>
						    <li>{{seErrorMessage}}</li>
						</ul>
					</div>

					<div data-ng-hide="seTopAnswererResults">
						<h3>No Stack Exhange results found.</h3>
					</div>

					<div class="col-sm-12" data-ng-show="seTopAnswererResults">
						<div class="row">
							<h3>Stack Exchange Results - <small>Page {{seCurrentPage+1}} of {{seNumberOfPages()}}</small></h3>
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Actions</th>
											<th>Username</th>
											<th>Reputation</th>
											<th>Post Count</th>
											<th>Score</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat='ta in seTopAnswererResults | startFrom:seCurrentPage*sePageSize | limitTo:sePageSize'>
											<td><a class="btn btn-info btn-xs" data-ng-href="{{ta.user.link}}" target="_blank">View Profile</a></td>
											<td>{{ta.user.display_name}}</td>
											<td>{{ta.user.reputation}}</td>
											<td>{{ta.post_count}}</td>
											<td>{{ta.score}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<ul class="pager">
			  					<li class="previous" data-ng-class="{disabled: seCurrentPage == 0}" data-ng-click='sePreviousClick()'><a href="" >&larr; Previous</a></li>
			  					<li class="next" data-ng-class="{disabled: seCurrentPage >= seRlength/sePageSize - 1}" data-ng-click='seNextClick()'><a href="" >Next &rarr;</a></li>
							</ul>
						</div>
					</div>						

				</div>     			
			</tab>
			
		</tabset>

	</div>
 
</section>

