<section data-ng-controller="ApplicationsController" data-ng-init="findOne()">
<div class="col-md-12">	
    <div class="page-header">		
	  <h2>Update Job Application</h2>
	</div>

	<div class="alert alert-danger" data-ng-show="errorMessage">
	<ul>
	    <li>{{errorMessage}}</li>
	</ul>
	</div>

	<div class="alert alert-success" data-ng-show="successMessage">
		{{successMessage}}
	</div>

	<form class="form-horizontal" role="form" data-ng-submit="update()">
	  <div class="form-group">
	    <label for="status" class="col-sm-4 col-xs-3 control-label">Status</label>
	    <div class="col-sm-4 col-xs-8">
	    	<select data-ng-model="application.status" id="status" class="form-control" data-ng-options="s.code as s.name for s in comtechAppStatus" required>
	      </select>	    		
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="jobTitle" class="col-sm-4 col-xs-3 control-label">Candidate</label>
	    <div class="col-sm-4 col-xs-8">
	      <span class="form-control" data-ng-disabled=true>{{application.candidateName}}</span>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-4 col-xs-3 control-label">Job Title</label>
	    <div class="col-sm-4 col-xs-8">
	      <span class="form-control" data-ng-disabled=true>{{application.jobTitle}}</span>
	    </div>
	  </div>

	  <div class="col-sm-8 col-sm-offset-2 col-md-offset-3">
	  	<h3>EEO</h3>
	  </div>
	  <div class="row form-group">
	    <label for="gender" class="col-sm-4 col-xs-3 control-label">Gender:</label>
	    <div class="col-sm-4 col-xs-8">
	    	<select data-ng-model="application.eeo.gender" id="gender" class="form-control" data-ng-options="g.code as g.name for g in eeoGender" required>
	      </select>	    		
	    </div>
	  </div>
	  <div class="row form-group">
	    <label for="race" class="col-sm-4 col-xs-3 control-label">Race:</label>
	    <div class="col-sm-4 col-xs-8">
	    	<select data-ng-model="application.eeo.race" id="race" class="form-control" data-ng-options="r.code as r.name for r in eeoRace" required>
	      </select>	    		
	    </div>
	  </div>
	  <div class="row form-group">
	    <label for="veteran" class="col-sm-4 col-xs-3 control-label">Veteran:</label>
	    <div class="col-sm-4 col-xs-8">
	    	<select data-ng-model="application.eeo.veteran" id="veteran" class="form-control" data-ng-options="v.code as v.name for v in eeoVeteran" required>
	      </select>	    		
	    </div>
	  </div>	  

	  <hr />

	  <div class="pull-right">
	  	<button class="btn btn-primary btn-lg btn-login" type="submit">Save</button>
	  	<a class="btn btn-default btn-lg" href="#!/applications/{{application._id}}">Cancel</a> 	  	
	  	<a class="btn btn-default btn-lg" href="#!/candidates/{{application.candidate._id}}?viewApps">Back to Candidate</a>	
	  	<a class="btn btn-default btn-lg" href="#!/jobs/{{application.job._id}}?viewApps">Back to Job</a>
	  	<a class="btn btn-default btn-lg" href="#!/applications">Back to Apps</a> 	
	  </div>
	</form>
</div>
</section>