<section data-ng-controller="ApplicationsController" data-ng-init="find()">
  <div class="page-header">
  	<h2>Job Application Listing</h2>
  </div>

  <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>  	
    <ul>
        <li>{{errorMessage}}</li>
    </ul>
  </div>

  <div class="filterform">
  	<form class="form-inline" data-role="form">
  	  <div class="form-group">
		<div class="btn-group" data-ng-class="{open: open}">
		    <button class="btn btn-default">Filter by Status</button>
	        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="open=!open">
	        	<span class="caret"></span>
	        	<span class="sr-only">Toggle Dropdown</span>
	        </button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a href data-ng-click="checkAll()"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

	            </li>
	            <li><a href data-ng-click="selectedStatus=[];"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

	            </li>
	            <li class="divider"></li>
	            <li data-ng-repeat="as in comtechAppStatus" data-ng-init="checkAll()"> <a href data-ng-click="setSelectedStatus(as.code)">{{as.name}}<span data-ng-class="isChecked(as.code)"></span></a>
	            </li>
	        </ul>
        </div>
  	  </div> 	  
  	  <div class="form-group">
  	    	<label class="sr-only" for="search.keywords">Keywords</label>
  	  		<input type="text" class="form-control" data-ng-model="search.keyword" placeholder="Filter by Keyword">
  	  </div>
  	  <div class="clearfix"></div> 
  	</form>
  </div>


  <div class="table-responsive" data-ng-show="!applications || applications.length">
	  <table class="table table-striped">
	  	<thead>
	  	  <tr>
	  	  	<th>#</th>
	  	  	<th style="width:20%">Actions</th>	
	  	  	<th><a href="" ng-click="predicate = 'jobTitle'; reverse=!reverse" >Job Title</a></th>
	  	  	<th><a href="" ng-click="predicate = 'candidateName'; reverse=!reverse" >Candidate</a></th>
	  	  	<th><a href="" ng-click="predicate = 'status'; reverse=!reverse" >Status</a></th>
	  	  	<th><a href="" ng-click="predicate = 'created'; reverse=!reverse" >Created</a></th>
	  	  </tr>
	  	</thead>
	  	<tbody>
		  <tr data-ng-repeat="ja in applications | filter:filterByStatus | filter:search.keyword | orderBy:predicate:reverse">
		  	<td>{{$index + 1}}</td>
			<td><a class="btn btn-info btn-xs" data-ng-href="#!/applications/{{ja._id}}" >View</a>
				
				<a class="btn btn-primary btn-xs" data-ng-href="#!/applications/{{ja._id}}/edit">Edit</a>
			</td>		  	
		  	<td><a data-ng-href="#!/jobs/{{ja.job}}" tooltip="View Job">{{ja.jobTitle}}</a></td>
		  	<td><a data-ng-href="#!/candidates/{{ja.candidate}}" tooltip="View Candidate">{{ja.candidateName}}</a></td>
		  	<td>{{ja.status}}</td>
			<td>{{ja.created | date:'MM/dd/yyyy @ h:mma'}}</td>
		  </tr>
		</tbody> 
	  </table>	
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this job permanently? [For testing purposes only, not to make it to PROD]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="modalremove(job)">Confirm Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<h3 data-ng-hide="!applications || applications.length">No job applications have been submitted yet.</h3>
<script type="text/javascript" src="https://comtech.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USf3mipo-1988229788/6251/8/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=bc6eccca"></script>	
</section>