<section data-ng-controller="ApplicationsController" data-ng-init="findOne()">
	<div class="col-md-12">	
	    <div class="page-header">		
		  <h2>Job Application - <small>{{application.jobTitle}}</small></h2>
		</div>

		<div class="row">
			<div class="col-sm-offset-1 col-sm-10">
			    <div >
			    	<label>Status:</label> {{application.status}}
				</div>

			  	<div >
			    	<label>Candidate: </label> {{application.candidateName}}    		
			    </div>

			  	<div >
			    	<label>Job Source: </label> {{application.jobSource}}    		
			    </div>

			  	<div >
			    	<label>Applied Using: </label> {{application.appSource}}    		
			    </div>

			    <div >
			    	<label>Created:</label> {{application.created | date:'MM/dd/yyyy @ h:mma'}}
				</div>
			</div>			
		</div>

		<br>

		<div class="row">
			<div class="row col-sm-offset-1 col-sm-10">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
					  <h3 class="panel-title">EEO</h3>
					</div>

					<div class="panel-body">
						<div>
					   	<label>Gender: </label> {{application.eeo.gender}}
					   </div>
					   <div>
					   	<label>Race: </label> {{application.eeo.race}}	
					   </div>
					   <div>
						<label>Veteran: </label> {{application.eeo.veteran}}	
					   </div>
					   <div>		
					   	<label>Created: </label> {{application.eeo.created | date:'MM/dd/yyyy @ h:mma'}}
					   </div>
					   <div>		
					   	<label>Updated: </label> {{application.eeo.updated | date:'MM/dd/yyyy @ h:mma'}}
					   </div>					   		   					   						   
					</div>
				</div>
			</div>
		</div>

      <div class="pull-right text-muted audit-text">
          Last Modified: 
          <span>{{application.updated | date:'MM/dd/yyyy @ h:mma'}} by {{application.updatedBy.name.first}} {{application.updatedBy.name.last}}</span>
      </div>
      <div class="clearfix"></div>
	  	<hr />
	  <div class="pull-right">
         <a class="btn btn-primary btn-lg" href="#!/applications/{{application._id}}/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>	  	
	  	<a class="btn btn-default btn-lg" href="#!/candidates/{{application.candidate._id}}?viewApps">Back to Candidate</a>	
	  	<a class="btn btn-default btn-lg" href="#!/jobs/{{application.job._id}}?viewApps">Back to Job</a>
	  	<a class="btn btn-default btn-lg" href="#!/applications">Back to Apps</a> 	
	  </div>

	</div>
</section>