<section data-ng-controller="RolesController" data-ng-init="findRole()">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Edit Permissions for {{role.name}} Role</h2>
        </div>

        <div class="alert alert-danger alert-dismissable" ng-show="errorMessage">
            <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
            <ul>
                <li>{{errorMessage}}</li>
            </ul>
        </div>

        <form class="form-horizontal" data-ng-submit="updateRole()" enctype="multipart/form-data" role="form">

            <div class="form-group" data-ng-hide= true>
                <div class="col-md-8 col-md-offset-2">
                    <h3><span class="glyphicon glyphicon-envelope"></span> Role Name - cannot change name, not stable, fix in progress </h3>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <input type="text" class="form-control" data-ng-model="role.name" placeholder="Role name" required>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Permitted actions - click to edit permission</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                        Application List
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.applications.create =  !role.applications.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.applications.read =  !role.applications.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.applications.update =  !role.applications.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.applications.delete =  !role.applications.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.delete"></i> Delete</a>

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                        Individual Applications
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.applicationind.create =  !role.applicationind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.applicationind.read =  !role.applicationind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.applicationind.update =  !role.applicationind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.applicationind.delete =  !role.applicationind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.delete"></i> Delete</a>

                </div>
            </div>
            <div class="row form-group">

                <div class="col-md-4 col-md-offset-2">
                         Candidate List
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.candidates.create =  !role.candidates.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.candidates.read =  !role.candidates.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.candidates.update =  !role.candidates.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.candidates.delete =  !role.candidates.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                         Individual Candidates
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.candidateind.create =  !role.candidateind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.candidateind.read =  !role.candidateind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.candidateind.update =  !role.candidateind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.candidateind.delete =  !role.candidateind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    Job List
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.jobs.create =  !role.jobs.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.jobs.read =  !role.jobs.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.jobs.update =  !role.jobs.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.jobs.delete =  !role.jobs.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    Individual Jobs
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.jobind.create =  !role.jobind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.jobind.read =  !role.jobind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.jobind.update =  !role.jobind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.jobind.delete =  !role.jobind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    Roles List
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.roles.create =  !role.roles.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.roles.read =  !role.roles.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.roles.update =  !role.roles.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.roles.delete =  !role.roles.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    Individual Roles
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.roleind.create =  !role.roleind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.roleind.read =  !role.roleind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.roleind.update =  !role.roleind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.roleind.delete =  !role.roleind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    User List
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.users.create =  !role.users.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.users.read =  !role.users.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.users.update =  !role.users.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.users.delete =  !role.users.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.delete"></i> Delete</a>

                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    Individual Users
                </div>
                <div class="pull-left">

                    <a class="btn btn-warning" data-ng-click="role.userind.create =  !role.userind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.create"></i> Insert</a>
                    <a class="btn btn-warning" data-ng-click="role.userind.read =  !role.userind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.read"></i> View</a>
                    <a class="btn btn-warning" data-ng-click="role.userind.update =  !role.userind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.update"></i> Edit</a>
                    <a class="btn btn-warning" data-ng-click="role.userind.delete =  !role.userind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.delete"></i> Delete</a>

                </div>
            </div>


            <hr />

            <div class="pull-right">
                <button class="btn btn-primary btn-lg btn-login" type="submit">Save</button>
                <a class="btn btn-default btn-lg" href="#!/roles">Cancel</a>

            </div>
        </form>
    </div>
</section>