<section data-ng-controller="RolesController" data-ng-init="findRoles()">
    <div class="page-header">
        <h2><i class="glyphicon glyphicon-lock"></i>   Roles List</h2>
    </div>

    <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
        <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
        <ul>
            <li>{{errorMessage}}</li>
        </ul>
    </div>

    <div class="filterform">
        <form class="form-inline" data-role="form">
            <div class="pull-right">
                <a class="btn btn-primary" href="/#!/roles/create"><i class="glyphicon glyphicon-plus"></i> Add Role</a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>

    <div class="table-responsive" data-ng-show="!roles || roles.length">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th style="width:20%">Actions</th>
                <th><a href="" data-ng-click="predicate = 'role.name'; reverse=!reverse" >Name</a></th>
                <th><a href="" data-ng-click="predicate = ''; reverse=!reverse" >Resource</a></th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="role in roles | orderBy:predicate:reverse">
                <td>{{$index + 1}}</td>
                <td><a class="btn btn-info btn-xs" data-ng-href="#!/roles/{{role._id}}" ><i class="glyphicon glyphicon-eye-open"></i>  View</a>

                    <a class="btn btn-primary btn-xs" data-ng-href="#!/roles/{{role._id}}/edit"><i class="glyphicon glyphicon-wrench"></i>  Edit</a>

                </td>
                <!--<td><a class="btn btn-info btn-xs" ><span class="badge badge-info">{{user.roles.length}}</span>  Roles</a></td>-->

                </td>
                <td>{{role.name}}</td>
                <td>{{role.resource[0].api}}</td>
            </tr>
            </tbody>
        </table>
    </div>





</section>