<section data-ng-controller="RolesController" data-ng-init="findRole()">

    <div class="page-header">
        <h2>{{role.name}}<small> - Permitted actions </small></h2>
    </div>

    <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
        <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
        <ul>
            <li>{{errorMessage}}</li>
        </ul>
    </div>

    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Application List
    </div>
    <div class="pull-left">
        <a class="btn btn-warning" data-ng-disabled="!role.applications.create" > <i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.create"></i> Insert </a>
        <a class="btn btn-warning" data-ng-disabled = "!role.applications.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.read"></i> View </a>
        <a class="btn btn-warning" data-ng-disabled = "!role.applications.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.update"></i>  Edit </a>
        <a class="btn btn-warning" data-ng-disabled = "!role.applications.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applications.delete"></i>  Delete </a>
    </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
             Individual Applications
        </div>
    <div class="pull-left">
        <a class="btn btn-warning" data-ng-disabled = "!role.applicationind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.create"></i> Insert </a>
        <a class="btn btn-warning" data-ng-disabled = "!role.applicationind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.read"></i>  View </a>
        <a class="btn btn-warning" data-ng-disabled = "!role.applicationind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.update"></i>  Edit </a>
        <a class="btn btn-warning" data-ng-disabled = "!role.applicationind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.applicationind.delete"></i>  Delete </a>
    </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Candidate List
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.candidates.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.create"></i>  Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.candidates.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.read"></i> View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.candidates.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.update"></i> Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.candidates.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidates.delete"></i> Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Individual Candidates
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.candidateind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.create"></i> Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.candidateind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.read"></i> View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.candidateind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.update"></i> Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.candidateind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.candidateind.delete"></i> Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Job List
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.jobs.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.create"></i> Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.jobs.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.read"></i>  View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.jobs.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.update"></i>  Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.jobs.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobs.delete"></i>  Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Individual Jobs
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.jobind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.create"></i>  Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.jobind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.read"></i>  View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.jobind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.update"></i>  Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.jobind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.jobind.delete"></i>  Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Role List
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.roles.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.create"></i>  Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.roles.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.read"></i>  View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.roles.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.update"></i>  Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.roles.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roles.delete"></i>  Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Individual Roles
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.roleind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.create"></i>  Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.roleind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.read"></i> View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.roleind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.update"></i> Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.roleind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.roleind.delete"></i> Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            User List
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.users.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.create"></i> Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.users.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.read"></i> View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.users.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.update"></i> Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.users.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.users.delete"></i> Delete </a>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-2">
            Individual Users
        </div>
        <div class="pull-left">
            <a class="btn btn-warning" data-ng-disabled = "!role.userind.create"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.create"></i> Insert </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.userind.read"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.read"></i> View </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.userind.update"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.update"></i> Edit </a>
            <a class="btn btn-warning" data-ng-disabled = "!role.userind.delete"><i class="glyphicon glyphicon-ban-circle" data-ng-hide="role.userind.delete"></i> Delete </a>
        </div>
    </div>


    <div class="pull-right">
        <a class="btn btn-primary btn-lg" href="#!/roles/{{role._id}}/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
        <a class="btn btn-default btn-lg" href="#!/roles">Back</a>
    </div>


</section>
