<section data-ng-controller="JobsController">
<div class="col-md-12">	
    <div class="page-header">		
	  <h2>New Job</h2>
	</div>	
	<a id="top"></a>
 	<div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	  <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
      <ul>
    	<li>{{errorMessage}}</li>
      </ul>
 	</div>

	<form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data">


	<div class="row form-group">
		  <div class="col-md-4 col-md-offset-2">
			  Date Opened: <input type="date" class="form-control" data-ng-model="job.dateOpened" required>
		  </div>
	      <div class="col-md-4">
		     <select data-ng-model="job.company" class="form-control" data-ng-options="cp.code as cp.name for cp in companies" required>
  			  <option value="">Select a Company</option>
  		     </select>
	      </div>
	</div>

	  <div class="row form-group">
		<div class="col-md-4 col-md-offset-2">
		  <input type="text" class="form-control" data-ng-model="job.title" placeholder="Title" required>
		</div>
		<div class="col-md-4" >
			<input type="text" class="form-control" data-ng-model="job.opNum" placeholder="No. of Openings" required>
		</div>
	  </div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <input type="text" class="form-control" data-ng-model="job.projName" placeholder="Client / Project Name" required>
		</div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-3 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="City" data-ng-model="job.location.city" required/>
	    </div>
	    <div class="col-md-3">
	      <select data-ng-model="job.location.state" class="form-control" data-ng-options="s.abbreviation as s.name for s in states" required>
  			  <option value="">Select a state</option>
	      </select>
	    </div>
	    <div class="col-md-2">
	      <select data-ng-model="job.location.market" class="form-control" data-ng-options="cm.code as cm.name for cm in comtechMarkets" required>
  			  <option value="">Select a market</option>
	      </select>
	    </div>
	  </div>
		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				Replacement:
		<div><input type="radio" ng-model="job.replacement" value=""  />No</div>
		<div><input type="radio" ng-model="job.replacement" value="Yes"  />Yes</div>
		</div>
		</div>
		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<input type="text" class="form-control" data-ng-show="job.replacement == 'Yes'" data-ng-model="job.replacementName" placeholder="Employee Name" required>
			</div>
		</div>




		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Job Description</h3>
			</div>
		</div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <textarea data-ng-model="job.responsibilities" class="form-control" cols="30" rows="12" placeholder="Responsibilities" required></textarea>
		</div>
	  </div>

		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<textarea data-ng-model="job.qualifications" class="form-control" cols="30" rows="8" placeholder="Basic Qualifications" required></textarea>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<textarea data-ng-model="job.functions" class="form-control" cols="30" rows="8" placeholder="Essential Functions" required></textarea>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-md-offset-2">
				<div class="input-group">
					<span class="input-group-addon">Min.</span>
					<input type="text" pattern="[0-9]*" class="form-control" placeholder="Required Work Experience" data-ng-model="job.minExp" title="Number of years of work experience" required/>
					<span class="input-group-addon">years</span>
				</div>
			</div>
			<div class="col-md-4">
				<select data-ng-model="job.category" class="form-control" data-ng-options="cp.code as cp.name for cp in category" required>
					<option value="">Select an EEO Job Category</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4 col-md-offset-2" >
				<select data-ng-model="job.minEducation" class="form-control" data-ng-options="ce.code as ce.name for ce in comtechEducation" required>
					<option value="">Select minimum education required</option>
				</select>
			</div>
				<div class="col-md-4">
					<input type="text" class="form-control" data-ng-show="job.minEducation == 'Other'" data-ng-model="job.minEducationOther" placeholder="Please specify education required" required>
				</div>
			</div>

		<div class="row form-group">
			<div class="col-md-4 col-md-offset-2">
				<select data-ng-model="job.minEducationPref" class="form-control" data-ng-options="ce.code as ce.name for ce in comtechEducation" required>
					<option value="">Select minimum education preferred</option>
				</select>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" data-ng-show="job.minEducationPref == 'Other'" data-ng-model="job.minEducationPrefOther" placeholder="Please specify education preferred" required>
			</div>
		</div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
		  <select data-ng-model="job.jobType" class="form-control" data-ng-options="jt for jt in comtechJobTypes" required>
  			  <option value="">Select job type</option>
  		  </select>
	    </div>
	    <div class="col-md-4">
	      <select data-ng-model="job.workAuth" class="form-control" data-ng-options="wa.code as wa.name for wa in comtechWorkAuth" required>
  			  <option value="">Select work authorization</option>
	      </select>
	    </div>
	  </div>

		<div class="row form-group">
			<div class="col-md-4 col-md-offset-6">
					<input type="text" class="form-control" data-ng-show="job.workAuth == 'Other'" data-ng-model="job.workAuthOther" placeholder="Please specify work authorization" required>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<textarea data-ng-model="job.clearanceReq" class="form-control" cols="30" rows="2" placeholder="Clearance Requirements" ></textarea>
			</div>
		</div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Skills</h3>
	  	</div>
	  </div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4>Required Skills</h4>
			</div>
		</div>

	  <div class="row form-group">
		  <div class="col-md-8 col-md-offset-2">
		  	<div class="input-group">
	      	  <input type="text" class="form-control" placeholder="Skill name or comma-delimited list of skills" data-ng-model="newSkill.name" data-ng-enter='addSkill()'>
	      	  <span class="input-group-btn">
	        	<input class="btn btn-info" type="button" value="Add Skill" data-ng-click="addSkill()">
	      	  </span>
	    	</div>
	      </div>
      </div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
	    	<button data-ng-repeat="skill in skills" type="button" class="btn btn-labeled btn-default btn-sm button-tag" data-ng-click="removeSkill(skill)"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>{{skill}}</button>
		</div>
	  </div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Certifications</h3>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<textarea data-ng-model="job.certReq" class="form-control" cols="30" rows="3" placeholder="Required" required></textarea>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<textarea data-ng-model="job.certPref" class="form-control" cols="30" rows="3" placeholder="Preferred" required></textarea>
			</div>
		</div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Compensation</h3>
	  	</div>
	  </div>

	  <div class="row form-group">

		  <div class="col-md-4 col-md-offset-2">
			  <div class="input-group">
				  <span class="input-group-addon">$</span>
				  <input type="text" class="form-control" placeholder="Hourly Bill Rate" data-ng-model="job.billRate" required>
				  <span class="input-group-addon">/ hour</span>
			  </div>
		  </div>
	    <div class="col-md-4">
		  <select data-ng-model="job.salary.public" class="form-control" data-ng-options="ps.code as ps.name for ps in comtechPublicSalary" required>
  			  <option value="">Salary Posted on Website?</option>
  		  </select>
	    </div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Annual Salary Range" data-ng-model="job.salary.annualRange" required>
  		  	<span class="input-group-addon">/ year</span>
  		  </div>
	  	</div>

	    <div class="col-md-4">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Hourly Pay Rate" data-ng-model="job.salary.hourlyRange" required>
  		  	<span class="input-group-addon">/ hour</span>  		  	
  		  </div>
	  	</div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="One time signing" data-ng-model="job.signBonus" required>
  		  	<span class="input-group-addon">bonus</span>
  		  </div>
	  	</div>

	  	<div class="col-md-4">
	    	<div class="input-group">
	    		<span class="input-group-addon">$</span>
	        	<input type="text" class="form-control" placeholder="Relocation" data-ng-model="job.relo" required>
	        	<span class="input-group-addon">relo</span>
	        </div>
	    </div>
	  </div>	  


	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Telework</h3>
	  	</div>
	  </div>	    
	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	      <div class="input-group">
  		  	<input type="tel" class="form-control" placeholder="Percentage allowed" data-ng-model="job.telework" pattern="^((100)|(\d{0,2}))$" data-ng-maxlength="3" maxlength="3" title="Percentage from 0 to 100">
  		  	<span class="input-group-addon">%</span>
  		  </div>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Hiring Manager</h3>
	  	</div>
	  </div>
	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="First name" data-ng-model="job.hiringMgr.first" required/>
	    </div>
	    <div class="col-md-4">
	      <input type="text" class="form-control" placeholder="Last name" data-ng-model="job.hiringMgr.last" required/>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Assigned Recruiter</h3>
	  	</div>
	  </div>
	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <select data-ng-model="job.leadRec" class="form-control" data-ng-options="u._id as u.name.first + ' ' + u.name.last for u in userList" required>
  			  <option value="">Select user</option>
	      </select>
		</div>
	  </div>


	  <hr />

	  <div class="pull-right">
	  	<button class="btn btn-primary btn-lg btn-login" type="submit">Submit</button>
	  	<a class="btn btn-default btn-lg" href="#!/jobs">Cancel</a>	  	
	  </div>
	</form>
</div>
</section>