<section data-ng-controller="JobsController" data-ng-init="findOneEdit()">
<div class="col-md-12">	
    <div class="page-header">		
	  <h2>Edit Job</h2>
	</div>

  <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
    <ul>
        <li>{{errorMessage}}</li>
    </ul>
  </div>
  		
	<form class="form-horizontal" data-ng-submit="update()">

	  <div class="row form-group">
		<div class="col-md-4 col-md-offset-2">
		  <select data-ng-model="job.company" class="form-control" data-ng-options="cp.code as cp.name for cp in companies" required>
	      </select>
		</div>

		<div class="col-md-4">
		  <select data-ng-model="job.status" class="form-control" data-ng-options="js.code as js.name for js in comtechJobStatus" required>
	      </select>
		</div>
	  </div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <input type="text" class="form-control" data-ng-model="job.title" placeholder="Title" required>
		</div>
	  </div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <input type="text" class="form-control" data-ng-model="job.projName" placeholder="Project Name" required>
		</div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-3 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="City" data-ng-model="job.location.city" required/>
	    </div>
	    <div class="col-md-3">
	      <select data-ng-model="job.location.state" class="form-control" data-ng-options="s.abbreviation as s.name for s in states" required>
  			  <option value="">Select a state</option>
	      </select>
	    </div>
	    <div class="col-md-2">
	      <select data-ng-model="job.location.market" class="form-control" data-ng-options="cm.code as cm.name for cm in comtechMarkets" required>
  			  <option value="">Select a market</option>
	      </select>
	    </div>
	  </div>	  

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <textarea data-ng-model="job.responsibilities" class="form-control" cols="30" rows="15" placeholder="Responsibilities" required></textarea>
		</div>
	  </div>

		<div class="row form-group">
			<div class="col-md-8 col-md-offset-2">
				<textarea data-ng-model="job.qualifications" class="form-control" cols="30" rows="15" placeholder="Basic Qualifications" required></textarea>
			</div>
		</div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
		  <select data-ng-model="job.jobType" class="form-control" data-ng-options="jt for jt in comtechJobTypes" required>
  			  <option value="">Select job type</option>
  		  </select>
	    </div>
	    <div class="col-md-4">
	      <select data-ng-model="job.workAuth" class="form-control" data-ng-options="wa.code as wa.name for wa in comtechWorkAuth" required>
  			  <option value="">Select work authorization</option>
	      </select>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Skills</h3>
	  	</div>
	  </div>

	  <div class="row form-group">
		  <div class="col-md-8 col-md-offset-2">
		  	<div class="input-group">
	      	  <input type="text" class="form-control" placeholder="Skill name or comma-delimited list of skills" data-ng-model="newSkill.name" data-ng-enter='addSkillEditMode()'>
	      	  <span class="input-group-btn">
	        	<input class="btn btn-info" type="button" value="Add Skill" data-ng-click="addSkillEditMode()">
	      	  </span>
	    	</div>
	      </div>
      </div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
	    	<button ng-repeat="skill in job.skills" type="button" class="btn btn-labeled btn-default btn-sm button-tag" data-ng-click="removeSkillEditMode(skill)"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>{{skill}}</button>
		</div>
	  </div>	  
	  
	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Compensation</h3>
	  	</div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-6">
		  <select data-ng-model="job.salary.public" class="form-control" data-ng-options="ps.code as ps.name for ps in comtechPublicSalary" required>
  			  
  		  </select>
	    </div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Annual Salary Range" data-ng-model="job.salary.annualRange" required>
  		  	<span class="input-group-addon">/ year</span>
  		  </div>
	  	</div>

	    <div class="col-md-4">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Hourly Salary Range" data-ng-model="job.salary.hourlyRange" required>
  		  	<span class="input-group-addon">/ hour</span>  		  	
  		  </div>
	  	</div>
	  </div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="One time signing" data-ng-model="job.signBonus" required>
  		  	<span class="input-group-addon">bonus</span>
  		  </div>
	  	</div>

	  	<div class="col-md-4">
	    	<div class="input-group">
	    		<span class="input-group-addon">$</span>
	        	<input type="text" class="form-control" placeholder="Relocation" data-ng-model="job.relo" required>
	        	<span class="input-group-addon">relo</span>
	        </div>
	    </div>
	  </div>	  

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Experience</h3>
	  	</div>
	  </div>
	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	    	<div class="input-group">
  		  		<span class="input-group-addon">Min.</span>
	      		<input type="number" class="form-control" placeholder="Work Experience" data-ng-model="job.minExp" required/>
	      		<span class="input-group-addon">years</span>
	      	</div>
	    </div>
	    <div class="col-md-4">
	      <select data-ng-model="job.minEducation" class="form-control" data-ng-options="ce.code as ce.name for ce in comtechEducation" required>
  			  <option value="">Select min. education</option>
	      </select>
	    </div>
	  </div>	

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Telework</h3>
	  	</div>
	  </div>	    
	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	      <div class="input-group">
  		  	<input type="number" class="form-control" placeholder="Percentage allowed" data-ng-model="job.telework" data-ng-maxlength="3" maxlength="3">
  		  	<span class="input-group-addon">%</span>
  		  </div>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Hiring Manager</h3>
	  	</div>
	  </div>
	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="First name" data-ng-model="job.hiringMgr.first" required/>
	    </div>
	    <div class="col-md-4">
	      <input type="text" class="form-control" placeholder="Last name" data-ng-model="job.hiringMgr.last" required/>
	    </div>
	  </div>

	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Lead Recruiter</h3>
	  	</div>
	  </div>
	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <select data-ng-model="job.leadRec" class="form-control" data-ng-options="u._id as u.name.first + ' ' + u.name.last for u in userList" required>
  			  <option value="">Select user</option>
	      </select>
		</div>
	  </div>

	  <hr />

	  <div class="pull-right">
	  	<button class="btn btn-primary btn-lg btn-login" type="submit">Save</button>	
	  	<a class="btn btn-default btn-lg" href="#!/jobs">Cancel</a>	

	  </div>
	</form>
</div>
</section>