<section data-ng-controller="JobsController" data-ng-init="find()">
  <div class="page-header">
  	<h2>Job Listing</h2>
  </div>

  <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
    <ul>
        <li>{{errorMessage}}</li>
    </ul>
  </div>

  <div class="filterform">
  	<form class="form-inline" data-role="form">
  	  <div class="form-group">
		<div class="btn-group" data-ng-class="{open: open}">
		    <button class="btn btn-default">Filter by Status</button>
	        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="open=!open">
	        	<span class="caret"></span>
	        	<span class="sr-only">Toggle Dropdown</span>
	        </button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a href data-ng-click="checkAll(); $event.stopPropagation();"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

	            </li>
	            <li><a href data-ng-click="selectedStatus=[];$event.stopPropagation();"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

	            </li>
	            <li class="divider"></li>
	            <li data-ng-repeat="js in comtechJobStatus" data-ng-init="checkAll()"> <a href data-ng-click="setSelectedStatus(js.code, $event)">{{js.name}}<span data-ng-class="isChecked(js.code)"></span></a>
	            </li>
	        </ul>
        </div>
  	  </div>
  	  <div class="form-group">
		<div class="btn-group" data-ng-class="{open: mOpen}">
		    <button class="btn btn-default">Filter by Company</button>
	        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="mOpen=!mOpen">
	        	<span class="caret"></span>
	        	<span class="sr-only">Toggle Dropdown</span>
	        </button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a href data-ng-click="checkAllCompanies(); $event.stopPropagation();"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

	            </li>
	            <li><a href data-ng-click="selectedCompany=[];$event.stopPropagation();"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

	            </li>
	            <li class="divider"></li>
	            <li data-ng-repeat="cp in companies" data-ng-init="checkAllCompanies()"> <a href data-ng-click="setSelectedCompany(cp.code, $event)">{{cp.name}}<span data-ng-class="isCompanyChecked(cp.code)"></span></a>
	            </li>
	        </ul>
        </div>
  	  </div>  	  
  	  <div class="form-group">
  	    	<label class="sr-only" for="search.keywords">Keywords</label>
  	  		<input type="text" class="form-control" data-ng-model="search.keyword" placeholder="Filter by Keyword">
  	  </div>
  	  <div class="pull-right">	
	  	<a class="btn btn-primary" href="#!/jobs/create"  ><i class="glyphicon glyphicon-plus"></i> Add Job</a>
  	  </div>
  	  <div class="clearfix"></div> 
  	</form>
  </div>


  <div class="table-responsive" data-ng-show="!jobs || jobs.length">
	  <table class="table table-striped">
	  	<thead>
	  	  <tr>
	  	  	<th>#</th>
	  	  	<th style="width:20%">Actions</th>
	  	  	<th>Job Apps</th>	
	  	  	<th><a href="" data-ng-click="predicate = 'title'; reverse=!reverse" >Title</a></th>
	  	  	<th><a href="" data-ng-click="predicate = 'status'; reverse=!reverse" >Status</a></th>
	  	  	<th><a href="" data-ng-click="predicate = 'skills'; reverse=!reverse" >Skills</a></th>
	  	  	<th><a href="" data-ng-click="predicate = 'leadRec.name.last'; reverse=!reverse" >Lead</a></th>
	  	  	<th><a href="" data-ng-click="predicate = 'created'; reverse=!reverse" >Posted</a></th>
	  	  </tr>
	  	</thead>
	  	<tbody>
		  <tr data-ng-repeat="job in jobs | filter:filterByStatus | filter:filterByCompany | filter:search.keyword | orderBy:predicate:reverse">
		  	<td>{{$index + 1}}</td>
			<td><a class="btn btn-info btn-xs" data-ng-href="#!/jobs/{{job._id}}" >View</a>
				
				<a class="btn btn-primary btn-xs" data-ng-href="#!/jobs/{{job._id}}/edit">Edit</a>
				
				<!--<a href="" data-ng-click="remove(job, $event)">Delete</a>
				&nbsp;-->
				<!-- Button trigger modal -->
				<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" data-ng-click="selectJob(job)">
  					Delete
				</button>
			</td>
			<td><a class="btn btn-info btn-xs" data-ng-href="#!/jobs/{{job._id}}?viewApps"><span class="badge badge-info">{{job.jobApplications.length}}</span>  Apps</a></td>		  	
		  	<td>{{job.title}} - {{job.location.state}}</td>
		  	<td>{{job.status}}</td>
		  	<td>
          	<span data-ng-repeat="js in job.skills" class="tag">{{js}}</span></td>
			<td>{{job.leadRec.name.last}}</td>
			<td>{{job.created | date:'MM/dd/yyyy @ h:mma'}}</td>
		  </tr>
		</tbody> 
	  </table>	
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this job permanently? [For testing purposes only, not to make it to PROD]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="modalremove(job)">Confirm Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<h3 data-ng-hide="!jobs || jobs.length">No jobs yet. Why don't you <a href="/#!/jobs/create">Create One</a>?</h3>
<script type="text/javascript" src="https://comtech.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USf3mipo-1988229788/6251/8/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=bc6eccca"></script>	
</section>