<section data-ng-controller="JobsController" data-ng-init="findOne()">

  <div class="page-header">
      <h2>{{job.title}}<small>- {{job.location.city}}, {{job.location.state}}, {{job.location.market}} - {{job.status}}</small></h2>
  </div>

  <tabset>
    <tab>
      <tab-heading>
        <span class="fa fa-briefcase"></span> <strong>Job Details</strong>
      </tab-heading>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Description</h3>
        </div>        
          <div class="panel-body">
              <pre>{{job.responsibilities}}</pre>
          </div>
      </div>

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Skills</h3>
        </div>

        <div class="panel-body">
            <span data-ng-repeat="skill in job.skills" class="tag tag-lg">{{skill}}</span>
        </div>
      </div>

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Misc</h3>
        </div>

        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th width"25%">Company</th>
              <th width="25%">Type</th>
              <th width="25%">Authorization</th>
              <th>Telework</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{job.company}}</td>
                  <td>{{job.jobType}}</td>
                  <td>{{job.workAuth}}</td>
                  <td>{{job.telework}}</td>
              </tr>                        
          </tbody>
        </table>
      </div>    

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Compensation</h3>
        </div>

        <!-- Table -->
        <table class="table">
          <tbody>
              <tr>
                  <td><strong>Annual:</strong> ${{job.salary.annualRange}}</td>
                  <td><strong>Hourly:</strong> ${{job.salary.hourlyRange}}</td>
              </tr>
              <tr>
                  <td><strong>Signing:</strong> ${{job.signBonus}}</td>
                  <td><strong>Relo:</strong> ${{job.relo}}</td>
              </tr>
              <tr>
                  <td colspan="2"><strong>Display salary on public website:</strong> {{job.salary.public}}</td>
              </tr>                         
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Experience</h3>
        </div>

        <!-- Table -->
        <table class="table">
          <tbody>
              <tr>
                  <td><strong>Minimum years of work:</strong> {{job.minExp}}</td>
                  <td><strong>Minimum education:</strong> {{job.minEducation}}</td>
              </tr>                        
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title">Contacts</h3>
        </div>

        <!-- Table -->
        <table class="table">
          <tbody>
              <tr>
                  <td><strong>Hiring Manager:</strong> {{job.hiringMgr.first}} {{job.hiringMgr.last}}</td>
                  <td><strong>Lead Recruiter:</strong> {{job.leadRec.name.first}} {{job.leadRec.name.last}}</td>
              </tr>                        
          </tbody>
        </table>
      </div>

      <div data-ng-show="global.user._id == candidate.user._id">
          <a class="btn" href="/#!/candidates/{{candidate._id}}/edit">
            <i class="icon-edit"></i>
          </a> 
          <a class="btn" data-ng-click="remove();">
              <i class="icon-trash"></i>
          </a>
      </div>


      <div class="pull-right text-muted audit-text">
          Created: 
          <span>{{job.created | date:'MM/dd/yyyy @ h:mma'}} by {{job.user.name.first}} {{job.user.name.last}}</span>
        <br/>
          Last Modified: 
          <span>{{job.updated | date:'MM/dd/yyyy @ h:mma'}} by {{job.updatedBy.name.first}} {{job.updatedBy.name.last}}</span>
      </div>
      <div class="clearfix"></div>
      <hr />
      <div class="pull-right">
          <a class="btn btn-primary btn-lg" href="#!/jobs/{{job._id}}/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>     
          <a class="btn btn-default btn-lg" href="#!/jobs">Back to Listing</a>  
      </div>
    </tab>
    
    <tab heading="Job Applications" active="isActive">
      <tab-heading>
        <span class="fa fa-folder"></span> <strong>Job Applications</strong>
      </tab-heading>
      <br>
      <div class="table-responsive" data-ng-show="!job.jobApplications || job.jobApplications.length">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th style="width:30%">Actions</th>
              <th>Candidate</th>
              <th>Status</th>
              <th>Applied</th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="ja in job.jobApplications" >
            <td>{{$index + 1}}</td>
            <td>
              <a class="btn btn-info btn-xs" data-ng-href="#!/applications/{{ja._id}}">View</a>              
              <a class="btn btn-primary btn-xs" data-ng-href="#!/applications/{{ja._id}}/edit">Edit</a>
            </td>       
            <td><a data-ng-href="#!/candidates/{{ja.candidate}}" tooltip="View Candidate">{{ja.candidateName}}</a></td>
            <td>{{ja.status}}</td>
            <td>{{ja.created | date:'MM/dd/yyyy @ h:mma'}}</td>
          </tr>
        </tbody> 
        </table>  
      </div>
      <h3 data-ng-hide="!job.jobApplications || job.jobApplications.length">No jobs applications have been submitted. </h3>
      <hr />
      <div class="pull-right">     
          <a class="btn btn-default btn-lg" href="#!/candidates">Back to Candidates</a> 
          <a class="btn btn-default btn-lg" href="#!/jobs">Back to Jobs</a>           
      </div>      
    </tab>
  </tabset>

</section>
