</div>

</div>
</div>
</div><!--.content-wrapper end -->

<footer>
<div class="footer">

<div class="container">
<div class="footer-wrapper">
<div class="row">

<!-- Footer Col. -->
<div class="col-md-3 col-sm-3 footer-col">
<div class="footer-title">Location</div>
<div class="footer-content">
<ul class="contact-info">
<li>
<div class="contact-title">
<i class="icon-map-marker"></i>Address
</div>
<div class="contact-details">1800 Alexander Bell Drive, Suite 410 Reston, VA 20191</div>
</li>                              
</ul>
</div>
</div>
<!-- //Footer Col.// -->

<!-- Footer Col. -->
<div class="col-md-3 col-sm-3 footer-col">
<div class="footer-title">PHONE</div>
<div class="footer-content">
<ul class="contact-info">
<li>
<div class="contact-title">
<i class="icon-phone"></i>main
</div>
<div class="contact-details">703-291-0569</div>
</li>
<li>
<div class="contact-title">
<i class="icon-phone"></i>fax
</div>
<div class="contact-details">703-291-0825</div>
</li>                             
</ul>
</div>
</div>
<!-- //Footer Col.// -->

<!-- Footer Col. -->
<div class="col-md-3 col-sm-3 footer-col">
<div class="footer-title">EMAIL</div>
<div class="footer-content">
<ul class="contact-info">
<li>
<div class="contact-title">
<i class="icon-envelope"></i>Sales/Marketing
</div>
<div class="contact-details"><a href="mailto:bd@comtechllc.com">bd@comtechllc.com</a></div>
</li>
<li>
<div class="contact-title">
<i class="icon-envelope"></i>Contracts
</div>
<div class="contact-details"><a href="mailto:contracts@comtechllc.com">contracts@comtechllc.com</a></div>
</li>                                                              

<li>
<div class="contact-title">
<i class="icon-envelope"></i>Recruiting
</div>
<div class="contact-details"><a href="mailto:recruiting@comtechllc.com">recruiting@comtechllc.com</a></div>
</li> 

</ul>
</div>
</div>
<!-- //Footer Col.// -->

<!-- Footer Col. -->
<div class="col-md-3 col-sm-3 footer-col">
<div class="footer-title">Websites</div>
<div class="footer-content">
<ul class="contact-info">
<li>
<div class="contact-title">
<i class="icon-globe"></i>main
</div>
<div class="contact-details"><a href="http://www.comtechllc.com">www.comtechllc.com</a></div>
</li>                               
<li>
<div class="contact-title">
<i class="icon-globe"></i>products
</div>
<div class="contact-details"><a href="http://www.gobblebox.com" target=_"_blank">www.gobblebox.com</a></div>
<div class="contact-details"><a href="http://www.skilent.com" target="_blank">www.skilent.com</a></div>
</li>                                  
</ul>
</div>
</div>
<!-- //Footer Col.// -->                                                            

</div>
</div>

</div>
<div class="copyright">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-6">
<div class="copyright-text">&copy; 2014 Comtech LLC </div>
</div>
<div class="col-md-6 col-sm-6">


<div class="social-icons">

<ul>
<li>
<a href="https://www.facebook.com/pages/Comtech-LLC-Recruiting/155352501282612" title="facebook" target="_blank" class="social-media-icon facebook-icon">facebook</a>
</li>
<li>
<a href="https://twitter.com/ComtechLLC" title="twitter" target="_blank" class="social-media-icon twitter-icon">twitter</a>
</li>
<li>
<a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>
</li>

</ul>

</div>
</div>

</div>
</div>
</div>
</div>
</footer>
</div><!-- wrapper end -->



<script type="text/javascript" src="http://www.comtechllc.com/js/_jquery.placeholder.js"></script>
<script src="http://www.comtechllc.com/js/activeaxon_menu.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/animationEnigne.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/bootstrap.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://www.comtechllc.com/js/easypiecharts.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/ie-fixes.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.base64.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.cycle.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.cycle2.carousel.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.easing.1.3.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.easytabs.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.eislideshow.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.flexslider.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.infinitescroll.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.isotope.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.parallax-1.1.3.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.prettyPhoto.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jQuery.scrollPoint.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.tipsy.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jquery.validate.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/jQuery.XDomainRequest.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/retina.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/timeago.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/tweetable.jquery.js" type="text/javascript"></script> 
<script src="http://www.comtechllc.com/js/zeina.js" type="text/javascript"></script> 


<!-- Google Analytics Code -->
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38411195-1', 'comtechllc.com');
  ga('send', 'pageview');

script(type='text/javascript', src='/lib/bootstrap-jasny/dist/extend/js/jasny-bootstrap.min.js')

</body>
</html>