head

  meta(charset='utf-8')
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  title Skilent Comtech LLC Careers
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://www.comtechllc.com/js/ie-fixes.js"></script>
  <script type="text/javascript" src="http://www.comtechllc.com/js/_excanvas.compiled.js"></script>
  <link rel="stylesheet" href="http://www.comtechllc.com/css/ie-fixes.css">
  <![endif]-->
  meta(name="description", content="Comtech LLC Careers powered by Skilent")
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->  
  link(href='http://www.comtechllc.com/favicon.ico', rel='shortcut icon', type='image/x-icon')


  <!--- This should placed first off all other scripts -->
  link(rel='stylesheet', href='http://www.comtechllc.com/css/font-awesome-ie7.min.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/font-awesome.min.css') 
  link(rel='stylesheet', href='http://www.comtechllc.com/css/revolution_settings.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/eislider.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/tipsy.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/prettyPhoto.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/isotop_animation.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/animate.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/flexslider.css')
  link(rel='stylesheet', href='/lib/bootstrap-jasny/dist/extend/css/jasny-bootstrap.min.css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/style.css', type='text/css')
  link(rel='stylesheet', href='http://www.comtechllc.com/css/responsive.css', type='text/css')  
  link(rel='stylesheet', href='http://www.comtechllc.com/css/skins/red.css', id='skin-file', type='text/css')

  <!-- Fonts -->
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://www.comtechllc.com/js/respond.js"></script>
  <![endif]-->
  
  link(rel='stylesheet', href='http://www.comtechllc.com/css/color-chooser.css')

  script(type="text/javascript", src="http://www.comtechllc.com/js/_jq.js")

  style(type='text/css').

    .bolder {
    font-weight:bolder;
    }

    .jobheader {
    margin-bottom:15px;
    margin-top:0px;
    }

    pre {
    border:0px;
    background-color: #ffffff;
    font-size:95%;
    }

    .jobs-back {
    vertical-align:top; 
    margin-right:20px;
    margin-bottom:10px;    
    }

    .table td, .table th {
    border: 0px;
    }

    .btn.btn-back {
    background-color: #f7f7f7;
    color: #808080 !important;
    border: 1px solid #ccc !important;
    }

    .btn.btn-plain {
    background-color: #ffffff;
    color: #696969 !important;
    border: 1px solid #ccc !important;
    }

    .btn.btn-blue {
    color: #fff !important;
    background-color: #428bca;
    border-color: #357ebd;
    }

    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    vertical-align: baseline;
    border-top: 1px solid #ddd;
    }

    .tag {
    margin-right:.2em;
    background-color: #f5f5f5;
    color: #333333;
    font-weight: normal;
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: .2em;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    }

    .tag-lg {
    font-size: 15px;
    }

    .btn {
    border-radius: 4px;
    }

    body {
    font-size:14px;
    color:#333333;
    }

    @media (max-width: 767px) {
    [class*="col-md"], [class*="col-sm"], [class*="col-lg"] {
    margin-bottom: 0px;
    }
    }

    #LiApply {
    text-align:center;
    }

    #LiApply *,*:before,*:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;  
    box-sizing: content-box !important;
    } 

    .apply-heading-title {
    display:inline-block;
    }

    .apply-heading-title h2:before {
    float: left;
    margin-right: 20px;
    }

    .apply-heading-title h2:after {
    float: right;
    margin-left: 20px;
    } 

    .apply-heading-title h2:before, .apply-heading-title h2:after {
    content: " ";
    display: block;
    height: 1px;
    border-top: 3px solid #bdc3c7;
    border-bottom: 1px solid #2c3e50;
    width: 120px;
    margin-top: 14px;
    }

 