#footer
	div.container
		p.text-muted.pull-right v0.11.2
		p.text-muted
			© 2014 
			a(href="http://www.comtechllc.com", target="_blank") Comtech LLC 
			· 
			a(href="") Privacy 
			·  
			a(href="") Terms

// Browser progress event support for image uploads
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload-shim.min.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-animate/angular-animate.min.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(type='text/javascript' src='/lib/jquery/jquery.min.js')
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/lib/bootstrap-jasny/dist/extend/js/jasny-bootstrap.min.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/candidates.js')
script(type='text/javascript', src='/js/services/jobs.js')
script(type='text/javascript', src='/js/services/applications.js')
script(type='text/javascript', src='/js/services/users.js')
script(type='text/javascript', src='/js/services/underscore.js')
script(type='text/javascript', src='/js/services/roles.js')
// ngStorage
script(type='text/javascript', src='/lib/ngstorage/ngStorage.min.js')
//Geocoder
script(type='text/javascript', src='/js/services/geocoder.js')
//Geolocation Service
script(type='text/javascript', src='/lib/angularjs-geolocation/dist/angularjs-geolocation.min.js')
// Leaflet Service
//script(type='text/javascript', src='/lib/leaflet-dist/leaflet.js')
script(type='text/javascript', src='/lib/angular-leaflet/dist/angular-leaflet-directive.min.js')
//Angulartics Service
script(type='text/javascript', src='/lib/angulartics/dist/angulartics.min.js')
script(type='text/javascript', src='/lib/angulartics/dist/angulartics-ga.min.js')
//Angular Promise Tracker
script(type='text/javascript', src='/lib/angular-promise-tracker/promise-tracker.min.js')
//Angular Busy
script(type='text/javascript', src='/lib/angular-busy/dist/angular-busy.min.js')
//Angular File Upload
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload.min.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/candidates.js')
script(type='text/javascript', src='/js/controllers/jobs.js')
script(type='text/javascript', src='/js/controllers/applications.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/signinCtrl.js')
script(type='text/javascript', src='/js/controllers/users.js')
script(type='text/javascript', src='/js/controllers/socialsearch.js')
script(type='text/javascript', src='/js/controllers/roles.js')
script(type='text/javascript', src='/js/init.js')

// Google Maps
script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")


if (process.env.NODE_ENV == 'development')
	//Livereload script rendered 
	script(type='text/javascript', src='http://localhost:35729/livereload.js')
else
	script(type='text/javascript', src='/analytics/google.js')