head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  
  title= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
  meta(name="description", content="Candidate Tracking System")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName}')
  meta(property='og:description', content='Candidate Tracking System')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='#{appName}')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/lib/bootstrap-social-buttons/social-buttons-3.css')
  link(rel='stylesheet', href='/lib/bootstrap-jasny/dist/extend/css/jasny-bootstrap.min.css')
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/sticky_footer_navbar.css')
  //link(rel='stylesheet', href='/lib/leaflet-dist/leaflet.css')
  link(rel='stylesheet', href='/lib/angular-busy/dist/angular-busy.min.css')

  link(rel='stylesheet', href='/css/views/candidates.css')
  link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')

  //if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
