<h1>New Job Application</h1>
<p>A new job application has been submitted.  Details are below:</p>
<ul>
<li><strong>Job Title:</strong> <%= jobTitle %></li>
<li><strong>Candidate Name:</strong> <%= name.first %> <%= name.last %></li>
<li><strong>Candidate Email:</strong> <%= userEmail %></li>
</ul>
<p><%= appUrl %></p>