extends ../layouts/default

block content
  .row
    .col-md-12
      if (typeof errors !== 'undefined' && errors.length !== 0)
        .alert.alert-danger.alert-dismissable
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          p= errors


      block auth
