extends auth

block auth
  h2 Registration - Admin Review
  h3(style="text-align:center") Your account request is being reviewed by an admin.  We will email you shortly. 

  a.btn.btn-default.btn-lg.btn-login(href="/") Go Back