extends auth

block auth
  form.form-horizontal.form-register(name='registerForm', method='post', action='/users')
    h2 New Account
    
    .row.form-group()
      .col-md-12
        input.form-control(type='email', name='email', placeholder='Email address', value=user.email, required)

    .row.form-group
      .col-md-12
        input.form-control(type='password', name='password', placeholder='Password', ng-minlength='6', ng-maxlength='20', required)

    .row.form-group
      .col-md-6
        input.form-control(type='text', name='name.first', placeholder='First name', value=user.name.first, required)
      .col-md-6
        input.form-control(type='text', name='name.last', placeholder='Last name', value=user.name.last, required)      

    hr()

    p
      button.btn.btn-primary.btn-lg.btn-register(type='submit') Register
      &nbsp;
      a.btn.btn-default.btn-lg.btn-login(href="/") Go Back







