extends auth

block auth

  if (typeof message !== 'undefined' && message.length !== 0)
    .alert.alert-danger.alert-dismissable
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        li= message

  form.signin.form-horizontal.form-login(action="/users/session", method="post")
    h2 Please Sign In
    .row.form-group
      .col-md-12
        input#email.form-control(type='email', name="email", placeholder='Email address', focus='focus.email', required)

    .row.form-group
      .col-md-12
        input#password.form-control(type='password', name="password", placeholder='Password', g-minlength='6', ng-maxlength='20', required)

    hr()

    p
      button.btn.btn-primary.btn-lg.btn-login(type='submit') Sign in
      &nbsp;
      a.btn.btn-default.btn-lg.btn-register(href="/") Go Back

    hr()

    p
      a.btn.btn-linkedin.btn-block(href='/auth/linkedin' target='_self' )
        i.fa.fa-linkedin
        &nbsp;| Connect with LinkedIn

    p
      a.btn.btn-default.btn-block(href='/auth/facebook' target='_self' disabled="disabled")
        i.fa.fa-facebook
        &nbsp;| Connect with Facebook

    p
      a.btn.btn-default.btn-block(href='/auth/google' target='_self' disabled="disabled")
        i.fa.fa-google-plus
        &nbsp;| Connect with Google+

    p
      a.btn.btn-default.btn-block(href='/auth/twitter' target='_self' disabled="disabled")
        i.fa.fa-twitter
        &nbsp;| Connect with Twitter      
          


