<!--<section>
    <form name="newUser" method="post" class="form-horizontal form-register">
        <h2>New Account</h2>

        <div class="row form-group" ng-class="{ 'has-error': showError && newUser.username.$invalid }">
            <div class="col-md-12">
                <input type="email" name="username" class="form-control" placeholder="e-mail address" ng-model="formData.username" focus="focus.username" required/>
                <div ng-show="newUser.username.$error.email" class="text-danger">Invalid email.</div>
            </div>
        </div>

        <div class="row form-group" ng-class="{ 'has-error': showError && newUser.password.$invalid }">
            <div class="col-md-12">
                <input type="password" name="password" class="form-control" placeholder="password" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" focus="focus.password" required/>
                <div ng-show="newUser.password.$error.minlength || newUser.password.$error.maxlength" class="text-danger">Password has to be between 6 and 20 characters.</div>
            </div>
        </div>

        <div class="row form-group" ng-class="{ 'has-error': showError && newUser.passwordRepeat.$invalid }">
            <div class="col-md-12">
                <input type="password" name="passwordRepeat" class="form-control" placeholder="repeat password" ng-model="formData.passwordRepeat" ng-class="{ 'has-error': showError && newUser.username.$error.required }" ng-minlength="6" ng-maxlength="20" focus="focus.passwordRepeat" required/>
                <div ng-show="showError && (formData.password != formData.passwordRepeat)" class="text-danger">Passwords do not match.</div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6" ng-class="{ 'has-error': showError && newUser.firstName.$invalid }">
                <input type="text" name="firstName" class="form-control" placeholder="first name" ng-model="formData.firstName" focus="focus.firstName" required/>
            </div>
            <div class="col-md-6">
                <input type="text" name="lastName" class="form-control" placeholder="last name" ng-model="formData.lastName" focus="focus.lastName"/>
            </div>
        </div>

        <hr>

        <p>
            <button class="btn btn-primary btn-lg btn-register" type="submit" ng-click="register(formData, newUser)">
                Register
            </button>
        </p>
    </form>

</section>-->

<section data-ng-controller="UsersController">
    <div class="col-md-12">
        <div class="page-header">
            <h2>New User</h2>
        </div>
        <a id="top"></a>
        <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
            <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
            <ul>
                <li>{{errorMessage}}</li>
            </ul>
        </div>

        <form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data">

            <div class="row form-group">
                <div class="col-md-8 col-md-offset-2">
                    <h3><span class="glyphicon glyphicon-envelope"></span> Contact Information</h3>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <input type="text" class="form-control" placeholder="First name" data-ng-model="user.name.first" required/>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Last name" data-ng-model="user.name.last" required/>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    <input type="tel" class="form-control" placeholder="Telephone" data-ng-model="user.phone" required>
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" placeholder="Email" data-ng-model="user.email" required>
                </div>
            </div>
<!--
            <div class="row form-group">
                <div class="col-md-4 col-md-offset-2">
                    <input type="text" class="form-control" placeholder="Password" data-ng-model="user.password" required>
                </div>
            </div>-->

            <div class="row form-group">
                <div class="col-md-3 col-md-offset-2">
                    <input type="text" class="form-control" placeholder="City" data-ng-model="user.location.city" required/>
                </div>
                <div class="col-md-3">
                    <select data-ng-model="user.location.state" class="form-control" data-ng-options="s.abbreviation as s.name for s in states" required>
                        <option value="">Select a state</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select data-ng-model="user.location.market" class="form-control" data-ng-options="cm.code as cm.name for cm in comtechMarkets" required>
                        <option value="">Select a market</option>
                    </select>
                </div>
            </div>

            <!--Initially all users created must be assigned a default role to prevent abuse of the system, then upgraded to necessary permission level.-->

           <!-- <div class="row form-group">
                <div class="col-md-8 col-md-offset-2">
                    <h3><span class="glyphicon glyphicon-leaf"></span> Roles </h3>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <label data-ng-repeat="roleOption in roles">
                        <input type="checkbox" checklist-model="user.roles" checklist-value="roleOption.name"> {{roleOption.name}}
                    </label>
                </div>
            </div>-->


            <hr />

            <div class="pull-right">
                <button class="btn btn-primary btn-lg btn-login" type="submit" >Submit</button>
                <a class="btn btn-default btn-lg" href="#!/settings">Cancel</a>
            </div>
        </form>
    </div>
</section>