<section data-ng-controller="UsersController" data-ng-init="findSpecificUser()">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Edit User Information</h2>
        </div>

        <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
            <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
            <ul>
                <li>{{errorMessage}}</li>
            </ul>
        </div>

        <form class="form-horizontal" data-ng-submit="update()" enctype="multipart/form-data" role="form">

            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <h3><span class="glyphicon glyphicon-envelope"></span> Contact Information</h3>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <input type="text" class="form-control" data-ng-model="user.name.first" placeholder="First name" required>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" data-ng-model="user.name.last" placeholder="Last name" required>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-4 col-md-offset-2">
                    <input type="email" class="form-control" data-ng-model="user.email" placeholder="Email address" required>
                </div>
                <div class="col-md-4">
                    <input type="tel" class="form-control" data-ng-model="user.phone" placeholder="Telephone" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-2">
                    <input type="text" class="form-control" placeholder="City" data-ng-model="user.location.city" required/>
                </div>
                <div class="col-md-3">
                    <select data-ng-model="user.location.state" class="form-control" data-ng-options="s.abbreviation as s.name for s in states" required>
                        <option value="">Select a state</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select data-ng-model="user.location.market" class="form-control" data-ng-options="cm.code as cm.name for cm in comtechMarkets" required>
                        <option value="">Select a market</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-8 col-md-offset-2">
                    <h3><span class="glyphicon glyphicon-leaf"></span> Roles </h3>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <label data-ng-repeat="roleOption in roles">
                        <input type="checkbox" checklist-model="user.roles" checklist-value="roleOption.name"> {{roleOption.name}}
                    </label>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3><span class="glyphicon glyphicon-user"></span> Roles</h3>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Authorized roles, comma-delimited" data-ng-model="newRole.name" ng-enter='addRole()'>
	      	  <span class="input-group-btn">
	        	<input class="btn btn-info" type="button" value="Add Role" ng-click="addRole()">
	      	  </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <button ng-repeat="role in user.roles" type="button" class="btn btn-labeled btn-default btn-sm button-tag" ng-click="removeRole(role)"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>{{role}}</button>
                </div>
            </div>-->

            <hr />

            <div class="pull-right">
                <button class="btn btn-primary btn-lg btn-login" type="submit">Save</button>
                <a class="btn btn-default btn-lg" href="#!/settings">Cancel</a>

            </div>
        </form>
    </div>
</section>