<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="page-header">
        <h2><i class="glyphicon glyphicon-lock"></i>   Access Control List</h2>
    </div>

    <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
        <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
        <ul>
            <li>{{errorMessage}}</li>
        </ul>
    </div>

    <div class="filterform">
        <form class="form-inline" data-role="form">
            <div class="pull-right">
                <a class="btn btn-primary" href="/#!/settings/create"><i class="glyphicon glyphicon-plus"></i> Add User</a>
            </div>
            <div class="form-group">
                <label class="sr-only" for="search.keywords">Keywords</label>
                <input type="text" class="form-control" data-ng-model="search.keyword" placeholder="Filter by Keyword">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>


    <div class="table-responsive" data-ng-show="!users || users.length">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th style="width:20%">Actions</th>
                <th>Roles</th>
                <th><a href="" data-ng-click="predicate = 'user.name.last'; reverse=!reverse" >Name</a></th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in users | orderBy:predicate:reverse">
                <td>{{$index + 1}}</td>
                <td><a class="btn btn-info btn-xs" data-ng-href="#!/settings/{{user._id}}" ><i class="glyphicon glyphicon-eye-open"></i>  View</a>

                    <a class="btn btn-primary btn-xs" data-ng-href="#!/settings/{{user._id}}/edit"><i class="glyphicon glyphicon-wrench"></i>  Edit</a>

                </td>
                <!--<td><a class="btn btn-info btn-xs" ><span class="badge badge-info">{{user.roles.length}}</span>  Roles</a></td>-->
                <td><a class="btn btn-success btn-xs active" data-ng-href="#" data-ng-repeat="role in user.roles" >{{role}}</a>
                </td>
                <td>{{user.name.first}} {{user.name.last}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this user permanently? [For testing purposes only, not to make it to PROD]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="modalreject()">Confirm Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <h3 data-ng-hide="!users || users.length">No users yet. Why don't you <a href="/#!/settings/create">Create One</a>?</h3>
    <script type="text/javascript" src="https://comtech.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USf3mipo-1988229788/6251/8/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=bc6eccca"></script>
</section>