<section data-ng-controller="UsersController" data-ng-init="findSpecificUser()">
        <div class="page-header">
                <h2>{{user.name.first}} {{user.name.last}} <small>{{user.email}}</small></h2>
        </div>
        <tabset>
                <tab>
                        <tab-heading>
                                <span class="fa fa-user"></span> <strong>User Details</strong>
                        </tab-heading>
                        <br>
                                        <div class="panel panel-default" id="skills" data-ng-show="user.roles">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading">
                                                        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Roles</h3>
                                                </div>

                                                <div class="panel-body">
                                                        <span data-ng-repeat="role in user.roles" class="tag tag-lg">{{role}}</span>
                                                </div>
                                        </div>

                                        <div class="panel panel-default" id="contact">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Contact Information</h3>
                                                </div>
                                                <div class="panel-body">
                                                        <!-- Table -->
                                                        <table class="table">
                                                                <thead>
                                                                <tr>
                                                                        <th width="50%">Telephone</th>
                                                                        <th width="50%">Email</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                        <td>{{user.phone}}</td>
                                                                        <td>{{user.email}}</td>
                                                                </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>

                                        <div class="panel panel-default" id="location">
                                                <div class="panel-heading">
                                                        <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> Location</h3>
                                                </div>
                                                <div class="panel-body">
                                                        <!-- Table -->
                                                        <table class="table">
                                                                <thead>
                                                                <tr>
                                                                        <th>City</th>
                                                                        <th>State</th>
                                                                        <th>Market</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                        <td>{{user.location.city}}</td>
                                                                        <td>{{user.location.state}}</td>
                                                                        <td>{{user.location.market}}</td>
                                                                </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>

                                        <div class="pull-right text-muted audit-text">
                                                <span>Created:</span>
                                                <span>{{user.created | date:'MM/dd/yyyy @ h:mma'}}</span>
                                                <br/>
                                                Last Modified:
                                                <span>{{user.updated | date:'MM/dd/yyyy @ h:mma'}}</span>
                                        </div>

                                        <div class="clearfix"></div>

                                        <hr />

                                        <div class="pull-right">
                                                <a class="btn btn-primary btn-lg" href="#!/settings/{{user._id}}/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                                                <a class="btn btn-default btn-lg" href="#!/settings">Back to User List</a>
                                        </div>
                                        <div class="clearfix"></div>
                                </div>




                </tab>

        </tabset>
</section>