doctype 5
html()
	include ../includes/head
	body(data-spy="scroll", data-target="#affix-nav", id="top")
			
		#wrap(class=mypath)
			.navbar.navbar-inverse.navbar-fixed-top(data-ng-include="'views/navbar.html'", data-role="navigation", data-ng-controller="HeaderController")

			section.content
				section.container	
					block content
		//FOOTER
		include ../includes/foot
