/**************************************/
/********* Bootstrap Override **********/
/**************************************/

.badge-info {
  background-color:#ffffff;
  color: #808080;
  margin-left:.2em;
  margin-top:.1em;
}

.tag {
  margin-right:.2em;
  background-color: #f5f5f5;
  color: #333333;
  font-weight: normal;
  display: inline-block;
  padding: 2px 6px;
  margin-bottom: .2em;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
}

.tag-lg {
  font-size: 15px;
}

.tag-list
{
  margin-right:.1em;
}

.button-tag {
    margin-right:.3em;
    margin-bottom: .3em;
}

.navbar-inverse {
  border: 0px;
  background: -webkit-radial-gradient(circle,#255576,#132b3c);
  background: -moz-radial-gradient(40% center,circle,#255576,#132b3c 500px) no-repeat;
  background: -o-radial-gradient(40% center,circle,#255576,#132b3c 500px) no-repeat;
}

.navbar-inverse .navbar-brand {
  color: #f6eed7;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f6eed7;
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  /*color: #845741;*/

  color: #FAEBD7;
  background: rgba(250, 235, 215, 0.2);

}

.form-login {
    max-width: 450px;
    padding: 20px 30px;
    margin: 20px auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    background-clip: padding-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.form-register {
    max-width: 450px;
    padding: 20px 30px;
    margin: 20px auto;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;
    background-clip: padding-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}


.radio-inline,
.checkbox-inline {
  padding-left: 30px;
}

.page-header {
padding-bottom: 0px;
margin: 20px 0 20px;
border-bottom: 1px solid #eeeeee;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Lato", Helvetica, Arial, sans-serif;
}

body {
font-family: "Lato", Helvetica, Arial, sans-serif; 
}

pre {
  border:0px;
  background-color: #ffffff;
  font-size:95%;
}
/**************************************/
/************ Common CSS **************/
/**************************************/

#titleBlock {
  margin-bottom:40px;
  color: #ffffff;  
}

#titleBlock h2 {
  font-size:65px;
  font-family: Helvetica, Arial, sans-serif; 
  margin-bottom:0px;
  font-weight:bold;
}

#titleBlock p {
  text-align:center;
  font-size:20px;
}

.clearback {
  margin-top:10em; 
  background: rgba(192, 192, 192, 0.5); 
  padding-bottom:2em;
  margin-bottom:3em;
}


h2 {
    text-align: center;
}

.filterform {
  background-color:#f0f8ff; 
  border-top:1px solid #b0c4de; 
  border-bottom: 1px solid #b0c4de; 
  padding: .3em .3em;  
  margin-bottom:1em;
}

.jumbotron {
  background: rgba(250, 235, 215, 0.7);

}

#wrap.hp {
  background-image: url('/img/people.jpg');
  /*background-position: center -120px;*/
  background-repeat: no-repeat;
  background-color: #132b3c;
  background-size: 100% 100%;

}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (max-moz-device-pixel-ratio: 1.5) {
    #wrap.hp {
        background-image: url('/img/people@2x.jpg');
        /*background-size: 1600px 1067px;*/        
    }
}

.mobile-callout {
background-color: #3a92c8;
background: -webkit-radial-gradient(circle,#255576,#132b3c);
background: -moz-radial-gradient(circle,#94d2f8,#3a92c8);
background: -ms-radial-gradient(circle,#94d2f8,#3a92c8);
}

.hr-jumbotron
{
  color:#333333; 
  border-color:#333333; 
  background-color:#333333;
}

h2.hp-header
{
  margin-top:0px;
  text-align: left;
}



#position,
#education {
  margin-bottom:45px;
}

#position h4,
#education h4 {
  margin-bottom:5px;
  font-weight: bold;
}

#education h5,
#position h5 {
  margin-top:0px;
  margin-bottom:5px;
  font-weight: bold;
}

#education summary,
#position summary {
  margin-top:0px;
}

/** Scrollspy **//
div#scrollable {
  height:500px;
  overflow:auto;
}

.audit-text {
  font-size:12px; 
  margin-top:0px !important; 
  margin-bottom:0px !important;
}

tab-heading {
  cursor: pointer;
}

.noteRow {
  padding:10px 5px;
  font-size:18px;
}

.noteRow:nth-of-type(odd) {
    background: #f5f5f5;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: bolder;
  color: #000080;
  padding: 6px 20px;
}
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  padding-left: 19px;
  text-decoration: none;
  background-color: transparent;
  border-left: 2px solid #000080;
  font-size:15px;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bolder;
  background-color: transparent;
  border-left: 3px solid #000080;
  font-size:15px;
}

/* Nav: second level (shown on .active) */
.bs-docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-top:    1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav > li > a:hover,
.bs-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
  padding-left: 28px;
}

/* Back to top (hidden on mobile) */
.back-to-top {
  display: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #000080;
}
.back-to-top:hover {
  text-decoration: none;
  color: #000099;
}

@media (min-width: 768px) {
  .back-to-top {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
  .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-docs-sidebar.affix-bottom,
  .bs-docs-sidebar.affix {
    width: 263px;
  }
}


/**************************************/
/************** Leaflet ***************/
/**************************************/

.angular-leaflet-map {
   height: 400px;
   width: 95%;

}

div.leaflet-spin {
  position: absolute;
  z-index: 999;
  overflow: show;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 150px;
  right: 0; 
  text-align:center;
}