<h1>New Account Request</h1>
<p>The following user has requested access to your app</p>
<ul>
<li><strong>First name:</strong> <%= name.first %></li>
<li><strong>Last name:</strong> <%= name.last %></li>
<li><strong>Email:</strong> <%= userEmail %></li>
<li><strong>Provider</strong> <%= provider %></li>
</ul>
<p>Please follow this link to activate the account: <%= activateUrl %></p>