The following user has requested access to your app 
First name: <%= name.first %> 
Last name: <%= name.last %>
Email: <%= userEmail %> 
Provider: <%= provider %>

Please follow this link to activate the account: <%= activateUrl %>