<section data-ng-controller="CandidatesController">
<div class="col-md-12">	
    <div class="page-header">		
	  <h2>New Candidate</h2>
	</div>	

 	<div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	  <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
      <ul>
    	<li>{{errorMessage}}</li>
      </ul>
 	</div>

	<form class="form-horizontal" data-ng-submit="create()" enctype="multipart/form-data">
		<div class="row form-group">
			<div class="col-md-4 col-md-offset-2">
				<select data-ng-model="candidate.mainStatus" class="form-control" data-ng-options="st.code as st.name for st in mainList" required>
					<option value="">Select Main Status</option>
				</select>
			</div>
			<div class="col-md-4">
				<select data-ng-model="candidate.candSource" class="form-control" data-ng-options="sr.code as sr.name for sr in sourceList" required>
					<option value="">Select Candidate Source</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4 col-md-offset-6">
				<select data-ng-model="candidate.candSourceDetails" data-ng-show="candidate.candSource == 'Job Board'" class="form-control" data-ng-options="so.code as so.name for so in sourceDetails" required>
					<option value="">Select Job Board</option>
				</select>
			</div>
			<div class="col-md-4 col-md-offset-6">
				<input type="text" data-ng-show="candidate.candSource == 'Employee Referral'" class="form-control" placeholder="Employee Name" data-ng-model="candidate.candSourceDetails" required/>
			</div>
			<div class="col-md-4 col-md-offset-6">
				<input type="text" data-ng-show="candidate.candSource == 'Third Party' || candidate.candSource == 'Other'" class="form-control" placeholder="Please Specify" data-ng-model="candidate.candSourceDetails" required/>
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<h3>Candidate Details</h3>
		</div>

		<div class="row form-group">
			<div class="col-md-4 col-md-offset-2">
				<input type="text" class="form-control" placeholder="First name" data-ng-model="candidate.name.first"
					   required/>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" placeholder="Last name" data-ng-model="candidate.name.last"
					   required/>
			</div>
		</div>

		<div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
  		  	<input type="tel" class="form-control" placeholder="Phone Number" data-ng-model="candidate.phone">
	  	</div>
	    <div class="col-md-4">
  		  	<input type="email" class="form-control" placeholder="Email address" data-ng-model="candidate.email" required>
	  	</div>
	  </div>

	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <input type="text" class="form-control" data-ng-model="candidate.title" placeholder="Job Title / Function">
		</div>
	  </div>
	  <div class="row form-group">
		  <div class="col-md-3 col-md-offset-2">
			  <select data-ng-model="candidate.status" class="form-control" data-ng-options="cd.code as cd.name for cd in statusList" required>
				  <option value="">Select Status</option>
			  </select>
		  </div>
		  <div class="col-md-5">
			  <select class="form-control" data-ng-show="candidate.status == 'Resume Reviewed'|| candidate.status == 'Phone Screen'|| candidate.status == 'Technical Phone Interview'|| candidate.status == 'In Person Interview'" data-ng-model="candidate.rejReason" data-ng-options="ce.code as ce.name for ce in rejectedDropdown" required>
	              <option value="">Select Reason for Rejection</option>
			  </select>
		  </div>
		  <div class="col-md-5">
			  <select class="form-control" data-ng-show="candidate.status == 'Verbal Offer' || candidate.status == 'Written Offer'" data-ng-model="candidate.offStatus" data-ng-options = "ce.code as ce.name for ce in offerStatus" required>
				  <option value="">Select Offer Status</option>
			  </select>
		  </div>
		  <div class="col-md-5">
			  <select class="form-control" data-ng-show="candidate.status == 'On Boarding Process'" data-ng-model="candidate.offStatus" data-ng-options = "ce.code as ce.name for ce in onboard" required>
				  <option value="">Select Offer Status</option>
			  </select>
		  </div>
	  </div>
      <div class="row form-group">
		  <div class="col-md-3 col-md-offset-2">
			  <input type="date" class="form-control" data-ng-show="candidate.status == 'PhoneScreen'|| candidate.status == 'Technical Phone Interview' || candidate.status == 'In Person Interview' || candidate.status == 'Verbal Offer' || candidate.status == 'Written Offer' || candidate.status == 'On Boarding Process'" data-ng-model="candidate.logDate" required>
		  </div>
		  <div class="col-md-5">
              <select class="form-control" data-ng-show="candidate.offStatus == 'Rejected' || candidate.offStatus =='Completed - Unsuccessful' " data-ng-model="candidate.rejReason" data-ng-options="ce.code as ce.name for ce in rejectedDropdown" required>
				  <option value="">Select Reason for Rejection</option>
              </select>
		  </div>
      </div>

	  <div class="row form-group">
	    <div class="col-md-4 col-md-offset-2">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Current Salary" data-ng-model="candidate.salary.current">
  		  	<span class="input-group-addon">.00</span>
  		  </div>
	  	</div>

	    <div class="col-md-4">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Desired Salary" data-ng-model="candidate.salary.desired">
  		  	<span class="input-group-addon">.00</span>
  		  </div>
	  	</div>
	  </div>
		
	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
		  <textarea data-ng-model="candidate.description" class="form-control" id="content" cols="30" rows="5" placeholder="Description"></textarea>
		</div>
	  </div>

 	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
			<div class="fileinput fileinput-new" data-provides="fileinput">
  				<span class="btn btn-info btn-file"><span class="fileinput-new">Select Candidate's Resume</span>
  				<span class="fileinput-exists">Change Resume File</span><input type="file" name="resume" file-model="myFile"></span>
  				<span class="fileinput-filename"></span>
  				<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
			</div>
		</div>
	  </div>

	  <div class="col-md-8 col-md-offset-2">
	  	<h3>Skills</h3>
	  </div>

	  <div class="row form-group">
		  <div class="col-md-8 col-md-offset-2">
		  	<div class="input-group">
	      	  <input type="text" class="form-control" placeholder="Skill name or comma-delimited list of skills" data-ng-model="newSkill.name" data-ng-enter='addSkill()'>
	      	  <span class="input-group-btn">
	        	<input class="btn btn-info" type="button" value="Add Skill" data-ng-click="addSkill()">
	      	  </span>
	    	</div>
	      </div>
      </div>




	  <div class="row form-group">
		<div class="col-md-8 col-md-offset-2">
	    	<button data-ng-repeat="skill in candidate.skills" type="button" class="btn btn-labeled btn-default btn-sm button-tag" data-ng-click="removeSkill(skill)"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>{{skill}}</button>
		</div>
	  </div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Education</h3>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-3 col-md-offset-2">
				<select data-ng-model="candidate.highEducation" class="form-control" data-ng-options="ce.code as ce.name for ce in comtechEducation" required>
					<option value="">Select highest level of education</option>
				</select>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control" data-ng-show="candidate.highEducation == 'Other'" data-ng-model="candidate.highEducationOther" placeholder="Please specify highest level of education" required>
			</div>

		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>Work Authorization</h3>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-3 col-md-offset-2">
				<select data-ng-model="candidate.workAuth" class="form-control" data-ng-options="ce.code as ce.name for ce in auth " required>
					<option value="">Select Work Authorization Status</option>
				</select>
			</div>

		</div>


	  <div class="row">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3>Address</h3>
	  	</div>
	  </div>
		<div class="row form-group">
			<div class="col-md-4 col-md-offset-2">
				<input type="text" class="form-control" placeholder="Street" data-ng-model="candidate.location.street" required/>
			</div>
			<div class="col-md-4" >
					<input type=" tel" class="form-control" placeholder="Zipcode" data-ng-model="candidate.location.zip"  data-ng-maxlength="5" maxlength="5" data-ng-minlength="5" minlength="5" >
			</div>
		</div>
	  <div class="row form-group">
	    <div class="col-md-3 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="City" data-ng-model="candidate.location.city" required/>
	    </div>
	    <div class="col-md-3">
	      <select data-ng-model="candidate.location.state" class="form-control" data-ng-options="s.abbreviation as s.name for s in states" required>
  			  <option value="">Select a state</option>
	      </select>
	    </div>

	  </div>

	  <div class="row">
		  <div class="col-md-8 col-md-offset-2">
		  	<h3>Notes</h3>
		  </div>
	  </div>
	  <div class="row form-group">
		  <div class="col-md-8 col-md-offset-2">
	      	  <input type="text" class="form-control" placeholder="Comment, notes, etc." data-ng-model="newNote.text">
	      </div>
      </div>	  


	  <hr />

	  <div class="pull-right">
	  	<button class="btn btn-primary btn-lg btn-login" type="submit">Submit</button>
	  	<a class="btn btn-default btn-lg" href="#!/candidates">Cancel</a>	
	  </div>
	</form>
</div>
</section>