<section data-ng-controller="CandidatesController" data-ng-init="findOne()">
<div class="col-md-12">	
    <div class="page-header">		
	  <h2>Edit Candidate</h2>
	</div>

  <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
    <ul>
        <li>{{errorMessage}}</li>
    </ul>
  </div>
  		
	<form class="form-horizontal" data-ng-submit="update()" enctype="multipart/form-data" role="form">
	  <div class="form-group">
	  <div class="pull-right">
	  	<button class="btn btn-primary btn-lg btn-login" type="submit">Save</button>
	  	<a class="btn btn-default btn-lg" href="#!/candidates/{{candidate._id}}?viewNotes">Add Notes</a>	
	  	<a class="btn btn-default btn-lg" href="#!/candidates">Cancel</a>	
	  </div>
	  <div class="clearfix"></div>
	  </div>

	  <div class="form-group">
	    <div class="col-md-4 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="First name" data-ng-model="candidate.name.first" required/>
	    </div>
	    <div class="col-md-4">
	      <input type="text" class="form-control" placeholder="Last name" data-ng-model="candidate.name.last" required/>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-md-4 col-md-offset-2">
  		  	<input type="tel" class="form-control" placeholder="Phone" data-ng-model="candidate.phone">
	  	</div>
	    <div class="col-md-4">
  		  	<input type="email" class="form-control" placeholder="Email" data-ng-model="candidate.email">
	  	</div>
	  </div>

	  <div class="form-group">
		<div class="col-md-8 col-md-offset-2">
		  <input type="text" class="form-control" data-ng-model="candidate.title" id="title" placeholder="Title">
		</div>
	  </div>

	  <div class="form-group">
	    <div class="col-md-4 col-md-offset-2">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Current Salary" data-ng-model="candidate.salary.current">
  		  	<span class="input-group-addon">.00</span>
  		  </div>
	  	</div>

	    <div class="col-md-4">
	  	  <div class="input-group">
  		  	<span class="input-group-addon">$</span>
  		  	<input type="text" class="form-control" placeholder="Desired Salary" data-ng-model="candidate.salary.desired">
  		  	<span class="input-group-addon">.00</span>
  		  </div>
	  	</div>
	  </div>
		
	  <div class="form-group">
		<div class="col-md-8 col-md-offset-2">
		  <textarea data-ng-model="candidate.description" class="form-control" id="content" cols="30" rows="5" placeholder="Description"></textarea>
		</div>
	  </div>

	  <div class="form-group">
	  	<div class="col-md-8 col-md-offset-2">
	  		<h3><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
	  	</div>
	    <div class="col-md-3 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="City" data-ng-model="candidate.location.city" required/>
	    </div>
	    <div class="col-md-3">
	      <select data-ng-model="candidate.location.state" class="form-control" data-ng-options="s.abbreviation as s.name for s in states" required>
  			  <option value="">Select a state</option>
	      </select>
	    </div>
	    <div class="col-md-2">
	      <select data-ng-model="candidate.location.market" class="form-control" data-ng-options="cm.code as cm.name for cm in comtechMarkets" required>
  			  <option value="">Select a market</option>
	      </select>
	    </div>
	  </div>

	  <div class="form-group">
		  <div class="col-md-8 col-md-offset-2">
		  	<h3><span class="glyphicon glyphicon-tag"></span> Skills</h3>
		  </div>
		  <div class="col-md-8 col-md-offset-2">
		  	<div class="input-group">
	      	  <input type="text" class="form-control" placeholder="Skill name or comma-delimited list of skills" data-ng-model="newSkill.name" data-ng-enter='addSkill()'>
	      	  <span class="input-group-btn">
	        	<input class="btn btn-info" type="button" value="Add Skill" data-ng-click="addSkill()">
	      	  </span>
	    	</div>
	      </div>
			<div class="col-md-8 col-md-offset-2" style="margin-top:10px;">
		    	<button data-ng-repeat="skill in candidate.skills" type="button" class="btn btn-labeled btn-default btn-sm button-tag" data-ng-click="removeSkill(skill)"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>{{skill}}</button>
			</div>
	  </div>


	  <div class="form-group">
		  <div class="col-md-8 col-md-offset-2">
		  	<h3><span class="glyphicon glyphicon-file"></span> Resume</h3>
		  </div>

		  <div class="col-md-8 col-md-offset-2">
				<div class="alert alert-danger alert-dismissable" data-ng-show="s3ErrorMessage">
					<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
					<p>{{s3ErrorMessage}}</p>
				</div>

				<div class="fileinput fileinput-new col-sm-12" data-provides="fileinput" style="padding:0px;">	
					<div class="table-responsive">				
						<table class="table table-striped" style="margin-bottom:0px;">
						  	<thead>
						  	  <tr>
						  	  	<th width="20%">Actions</th>
						  	  	<th>File</th>	  	  	  	  	
						  	  </tr>
						  	</thead>
						  	<tbody>
						  	  <tr>
						  	  	<td>
						  	  		<span class="btn btn-info btn-file">
		  								<span class="fileinput-new">Select Resume</span>
		  								<span class="fileinput-exists">Replace Resume</span>
		  								<input type="file" name="resume" data-ng-file-select="onFileSelect($files)">
		  							</span>
		  						</td>
						  	  	<td>
					  				<span class="fileinput-new">
						          		<a href="{{candidate.resume.path}}">{{candidate.resume.filename}}</a>
						       		</span>
					  				<span class="fileinput-filename"></span>
					  				<!--<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>-->
					  				<div class="fileinput-exists">
					  					<progressbar value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>
					  				</div>
						  	  	</td>
						  	  </tr>
						  	</tbody>
						</table>
					</div>
				</div>
	      </div>
      </div>

	  <hr />

	  <div class="pull-right">
	  	<button class="btn btn-primary btn-lg btn-login" type="submit">Save</button>
	  	<a class="btn btn-default btn-lg" href="#!/candidates/{{candidate._id}}?viewNotes">Add Notes</a>
	  	<a class="btn btn-default btn-lg" href="#!/candidates">Cancel</a>	
	  </div>
	</form>
</div>
</section>