<section data-ng-controller="CandidatesController" data-ng-init="findOne()">

    <div class="page-header">
        <h2>New Message to {{candidate.name.first}} {{candidate.name.last}}</h2>
    </div>
    <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
        <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
        <ul>
            <li>{{errorMessage}}</li>
        </ul>
    </div>
    <form class="form-horizontal" data-ng-submit="sendMessage()" enctype="multipart/form-data">

        <div class="row form-group">
            <div class="col-md-8 col-md-offset-2">
                <input type="text" class="form-control" data-ng-model="message.subject" placeholder="Subject" >
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8 col-md-offset-2">
                <input type="text" class="form-control" data-ng-model="message.cc" placeholder="CC:" >
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8 col-md-offset-2">
                <input type="text" class="form-control" data-ng-model="message.bcc" placeholder="BCC:" >
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8 col-md-offset-2">
                <textarea data-ng-model="message.text" class="form-control" cols="30" rows="15" placeholder="Message" ></textarea>
            </div>
        </div>

            <div class="pull-right">
                <button class="btn btn-primary btn-lg btn-login" type="submit" >Send</button>
                <a class="btn btn-default btn-lg" href="#!/candidates/{{candidate._id}}">Cancel</a>
            </div>
    </form>
</section>