<section data-ng-controller="CandidatesController" data-ng-init="find()">
  <div class="page-header">
  	<h2>Candidate Listing</h2>
  </div>

  <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
	<a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
    <ul>
        <li>{{errorMessage}}</li>
    </ul>
  </div>

  <div class="filterform">
  	<form class="form-inline" data-role="form">
<!--   	  <div class="form-group">
		<div class="btn-group" data-ng-class="{open: open}">
		    <button class="btn btn-default">Filter by Status</button>
	        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="open=!open">
	        	<span class="caret"></span>
	        	<span class="sr-only">Toggle Dropdown</span>
	        </button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	            <li><a href data-ng-click="checkAll()"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

	            </li>
	            <li><a href data-ng-click="selectedStatus=[];"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

	            </li>
	            <li class="divider"></li>
	            <li data-ng-repeat="js in comtechJobStatus" data-ng-init="checkAll()"> <a href data-ng-click="setSelectedStatus(js.code)">{{js.name}}<span data-ng-class="isChecked(js.code)"></span></a>
	            </li>
	        </ul>
        </div>
  	  </div> -->
  	  <div class="form-group">
		<div class="btn-group" data-ng-class="{open: mOpen}">
		    <button class="btn btn-default">Filter by Market</button>
	        <button type="button" class="btn btn-default dropdown-toggle" data-ng-click="mOpen=!mOpen">
	        	<span class="caret"></span>
	        	<span class="sr-only">Toggle Dropdown</span>
	        </button>
	        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
	            <li><a href data-ng-click="checkAllMarkets(); $event.stopPropagation();"><i class="glyphicon glyphicon-ok-sign"></i>  Check All</a>

	            </li>
	            <li><a href data-ng-click="selectedMarket=[]; $event.stopPropagation();"><i class="glyphicon glyphicon-remove-sign"></i>  Uncheck All</a>

	            </li>
	            <li class="divider"></li>
	            <li data-ng-repeat="cm in comtechMarkets" data-ng-init="checkAllMarkets()"> <a href data-ng-click="setSelectedMarket(cm.code, $event)">{{cm.name}}<span data-ng-class="isMarketChecked(cm.code)"></span></a>
	            </li>
	        </ul>
        </div>
  	  </div>   	  
  	  <div class="form-group">
  	    	<label class="sr-only" for="search.keywords">Keywords</label>
  	  		<input type="text" class="form-control" data-ng-model="search.keyword" placeholder="Filter by Keyword">
  	  </div>
  	  <div class="pull-right">	
	  	<a class="btn btn-primary" href="#!/candidates/create"><i class="glyphicon glyphicon-plus"></i> Add Candidate</a>	
  	  </div> 
  	  <div class="clearfix"></div> 	  
  	</form>
  </div>

  <div class="table-responsive" data-ng-show="!candidates ||candidates.length">
	  <table class="table table-striped">
	  	<thead>
	  	  <tr>
	  	  	<th>#</th>
	  	  	<th style="width:20%">Actions</th>
	  	  	<th>Job Apps</th>	  	  	  	  	
	  	  	<th><a href="" ng-click="predicate = 'name.first'; reverse=!reverse" >Name</a></th>
	  	  	<th>Location</th>
	  	  	<th>Resume</th>
	  	  	<th>Work Authorization</th>
			<th>Source</th>
	  	  </tr>
	  	</thead>
	  	<tbody>
		  <tr data-ng-repeat="candidate in candidates ">
		  	<td>{{$index + 1}}</td>
			<td><a class="btn btn-info btn-xs" data-ng-href="#!/candidates/{{candidate._id}}" >View</a>
				
				<a class="btn btn-primary btn-xs" data-ng-href="#!/candidates/{{candidate._id}}/edit">Edit</a>
				
				<!--<a href="" data-ng-click="remove(candidate, $event)">Delete</a>
				&nbsp;-->
				<!-- Button trigger modal -->
				<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" data-ng-click="selectCandidate(candidate)">
  					Delete
				</button>
			</td>
			<td><a class="btn btn-info btn-xs" data-ng-href="#!/candidates/{{candidate._id}}?viewApps"><span class="badge badge-info">{{candidate.jobsAppliedTo.length}}</span>  Apps</a></td>
		  	<td><a href="#!/candidates/{{candidate._id}}">{{candidate.name.first}} {{candidate.name.last}}</a></td>
		  	<td>{{candidate.location.city}}, {{candidate.location.state}}</td><td><a href="{{candidate.resume.path}}" target="_blank">{{candidate.resume.filename}}</a></td>
			<td>{{candidate.workAuth}}</td>
			<td>{{candidate.candSource}}</td>
		  </tr>
		</tbody> 
	  </table>	
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this candidate permanently? [For testing purposes only, not to make it to PROD]
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="modalremove(candidate)">Confirm Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<h3 data-ng-hide="!candidates || candidates.length">No candidates yet. Why don't you <a href="/#!/candidates/create">Create One</a>?</h3>

<script type="text/javascript" src="https://comtech.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USf3mipo-1988229788/6251/8/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=bc6eccca"></script>
</section>