<section data-ng-controller="CandidatesController" data-ng-init="findOne()">

    <div class="page-header">
        <h2>{{candidate.name.first}} {{candidate.name.last}} <small>{{candidate.title}}</small></h2>
    </div>

  <tabset>
    <tab>
      <tab-heading>
        <span class="fa fa-user"></span> <strong>Candidate Details</strong>
      </tab-heading>
      <br>


      <div class="row">

      <div class="col-sm-10">
        <div class="panel panel-default" data-ng-show="candidate.description" id="description">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-dot-circle-o"></span> Description</h3>
          </div>        
            <div class="panel-body">
                {{candidate.description}}
            </div>
        </div>

        <div class="panel panel-default" id="skills" data-ng-show="candidate.skills">
        <!-- Default panel contents -->
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-tag"></span> Skills</h3>
          </div>

          <div class="panel-body">
              <span ng-repeat="skill in candidate.skills" class="tag tag-lg">{{skill}}</span>
          </div>
        </div>
        
        <div class="panel panel-default" id="contact">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Contact Info</h3>
          </div>        
            <div class="panel-body">
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">Phone</th>
                    <th width="50%">Email</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{candidate.phone}}</td>
                        <td>{{candidate.email}}</td>
                    </tr>                        
                </tbody>
              </table>
            </div>
        </div>

        <div class="panel panel-default" id="location">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
          </div>        
            <div class="panel-body">
              <!-- Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th>City</th>
                    <th>State</th>
                    <th>Market</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{candidate.location.city}}</td>
                        <td>{{candidate.location.state}}</td>
                        <td>{{candidate.location.market}}</td>
                    </tr>                        
                </tbody>
              </table>
            </div>
        </div>
        <div class="panel panel-default" data-ng-show="candidate.salary.current || candidate.salary.desired" id="salary">
        <!-- Default panel contents -->
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-money"></span> Salary</h3>
          </div>

          <!-- Table -->
          <table class="table">
            <tbody>
                <tr>
                    <td><strong>Current:</strong> {{candidate.salary.current}}</td>
                    <td><strong>Desired:</strong> {{candidate.salary.desired}}</td>
                </tr>
            </tbody>
          </table>
        </div>

        <div class="panel panel-default" data-ng-show="candidate.resume.path" id="resume">
        <!-- Default panel contents -->
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-file"></span> Resume</h3>
          </div>

          <div class="panel-body">
            <a href="{{candidate.resume.path}}" target="_blank">{{candidate.resume.filename}}</a>
          </div>
        </div>

        <div class="panel panel-default" data-ng-show="candidate.recommendations" id="recs">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-star"></span> Recommendations</h3>
          </div>        
            <div class="panel-body">
              <table class="table">
                <thead>
                  <tr>
                    <th width="15%">Recommender</th>
                    <th width="15%">Type</th>
                    <th>Recommendation</th>
                  </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="rec in candidate.recommendations">
                        <td>{{rec.recommender}}</td>
                        <td>{{rec.recType}}</td>
                        <td>{{rec.recText}}</td>
                    </tr>                        
                </tbody>
              </table>            
            </div>
        </div>

        <div class="panel panel-default" data-ng-show="candidate.positions" id="positions">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-briefcase"></span> Positions</h3>
          </div>        
          <div class="panel-body">
            <div data-ng-repeat="pos in candidate.positions" id="position">
              <h4>{{pos.title}} <small style="margin-left:10px;"><span data-ng-show="pos.startDate.month">{{pos.startDate.month}}/</span>{{pos.startDate.year}} - <span data-ng-show="pos.endDate.month">{{pos.endDate.month}}/</span>{{pos.endDate.year}}<span data-ng-show="pos.isCurrent">Current</span></small></h4>
              <h5>{{pos.company}}</h5>
              <summary>{{pos.summary}}</summary>
            </div>
          </div>
        </div>      

        <div class="panel panel-default" data-ng-show="candidate.certifications" id="certs">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-certificate"></span> Certifications</h3>
          </div>        
          <div class="panel-body">
              <span ng-repeat="cert in candidate.certifications">{{cert}}{{$last ? '' : ', '}}</span>
          </div>
        </div> 


        <div class="panel panel-default" data-ng-show="candidate.educations" id="education">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Education</h3>
          </div>        
          <div class="panel-body">
            <div ng-repeat="ed in candidate.educations" id="education">
              <h4>{{ed.schoolName}} <small style="margin-left:10px;"><span data-ng-show="ed.startDate.month">{{ed.startDate.month}}/</span>{{ed.startDate.year}} - <span data-ng-show="ed.endDate.month">{{ed.endDate.month}}/</span>{{ed.endDate.year}}</small></h4>
              <h5>{{ed.degree}} {{ed.fieldOfStudy}}</h5>
              <summary data-ng-show="ed.activities"><strong>Activities:</strong> {{ed.activities}}</summary>
            </div>
          </div>              
        </div> 

        <div class="panel panel-default" data-ng-show="candidate.languages" id="langs">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-globe"></span> Languages</h3>
          </div>        
            <div class="panel-body">
                <span data-ng-repeat="lang in candidate.languages">{{lang}}{{$last ? '' : ', '}}</span>
            </div>
        </div> 

        <div class="panel panel-default" data-ng-show="candidate.linkedinProfile" id="linkedin">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-linkedin"></i> LinkedIn Profile</h3>
          </div>        
            <div class="panel-body">
                <a href="{{candidate.linkedinProfile}}">{{candidate.linkedinProfile}}</a>
            </div>
        </div> 

        <div class="pull-right text-muted audit-text">
            <span>Created:</span> 
            <span>{{candidate.created | date:'MM/dd/yyyy @ h:mma'}} by {{candidate.user.name.first}} {{candidate.user.name.last}}</span>
          <br/>
            Last Modified: 
            <span>{{candidate.updated | date:'MM/dd/yyyy @ h:mma'}} by {{candidate.updatedBy.name.first}} {{candidate.updatedBy.name.last}}</span>
        </div>

        <div class="clearfix"></div>

        <hr />

        <div class="pull-right">
            <a class="btn btn-primary btn-lg" href="#!/candidates/{{candidate._id}}/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>     
            <a class="btn btn-default btn-lg" href="#!/candidates">Back to Listing</a> 
        </div>
        <div class="clearfix"></div>
      </div>


      <!-- Side navbar -->
      <div class="col-sm-2">
        <div class="bs-docs-sidebar" id="affix-nav" role="complementary">
          <ul class="nav affix bs-docs-sidenav " data-spy="affix">
            <li data-ng-show="candidate.description"><a scroll-to="description" href="">Description</a></li>
            <li data-ng-show="candidate.skills"><a scroll-to="skills" href="" >Skills</a></li>
            <li data-ng-show="candidate.phone || candidate.email"><a scroll-to="contact" href="" >Contact Info</a></li>
            <li data-ng-show="candidate.location"><a scroll-to="location" href="">Location</a></li>
            <li data-ng-show="candidate.salary"><a scroll-to="salary" href="">Salary</a></li>
            <li data-ng-show="candidate.resume"><a scroll-to="resume" href="">Resume</a></li>
            <li data-ng-show="candidate.recommendations"><a scroll-to="recs" href="">Recommendations</a></li>
            <li data-ng-show="candidate.positions"><a scroll-to="positions" href="">Positions</a></li>
            <li data-ng-show="candidate.certifications"><a scroll-to="certs" href="">Certifications</a></li>
            <li data-ng-show="candidate.educations"><a scroll-to="education" href="">Education</a></li>
            <li data-ng-show="candidate.languages"><a scroll-to="langs" href="">Languages</a></li>
            <li data-ng-show="candidate.linkedinProfile"><a scroll-to="linkedin" href="">LinkedIn Profile</a></li>
            <a scroll-to="top" class="back-to-top" href="">Back to top</a>         
          </ul>

        </div>
      </div>

      </div>


    </tab>

    <tab active="isJobAppsActive">
      <tab-heading>
        <span class="fa fa-folder"></span> <strong>Job Applications</strong>
      </tab-heading>
      <br>
      <div class="table-responsive" data-ng-show="!candidate.jobsAppliedTo || candidate.jobsAppliedTo.length">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Actions</th>
              <th>Title</th>
              <th>Status</th>
              <th>Applied</th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="cj in candidate.jobsAppliedTo" >
            <td>{{$index + 1}}</td>
            <td><a class="btn btn-info btn-xs" data-ng-href="#!/applications/{{cj._id}}">View</a> <a class="btn btn-primary btn-xs" data-ng-href="#!/applications/{{cj._id}}/edit">Edit</a></td>   
            <td><a data-ng-href="#!/jobs/{{cj.job}}" tooltip="View Job">{{cj.jobTitle}}</a></td>
            <td>{{cj.status}}</td>
            <td>{{cj.created | date:'MM/dd/yyyy @ h:mma'}}</td>
          </tr>
        </tbody>
        </table>
      </div>
      <h3 data-ng-hide="!candidate.jobsAppliedTo || candidate.jobsAppliedTo.length">No jobs applications have been submitted. </h3>
      <hr />
      <div class="pull-right">     
          <a class="btn btn-default btn-lg" href="#!/candidates">Back to Candidate Listing</a>  
      </div>      
    </tab>
    <tab active="isNotesActive">
      <tab-heading>
        <span class="fa fa-comment"></span> <strong>Notes</strong>
      </tab-heading>
      <br>

      <div class="alert alert-danger alert-dismissable" data-ng-show="errorMessage">
      <a class="close" data-dismiss="alert" href="javascript:void(0)">x</a>
        <ul>
            <li>{{errorMessage}}</li>
        </ul>
      </div>

      <div class="row" style="margin-bottom:20px;">
      <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Note, comment, etc." data-ng-model="newNote.text" data-ng-enter='insertNote()' maxlength="140">
            <span class="input-group-btn">
            <input class="btn btn-primary" type="button" value="Add Note" data-ng-click="insertNote()">
            </span>
        </div>
      </div>
    </div>
     
      <div data-ng-show="!candidate.notes || candidate.notes.length" cg-busy="'noteTracker'">
        <div data-ng-repeat="cn in candidate.notes | reverse" class="noteRow">
          {{cn.noteText}}
          <div style="font-size:12px; margin-top:0px; margin-bottom:0px;" class="text-muted">
            <b>Created: </b>{{cn.created | date:'MM/dd/yyyy @ h:mma'}} by {{cn.createdBy}}
          </div>
        </div>
      </div>
      <h3 data-ng-hide="!candidate.notes || candidate.notes.length">Notes have not been created. </h3>
      <hr />
      <div class="pull-right">     
          <a class="btn btn-default btn-lg" href="#!/candidates">Back to Candidate Listing</a>  
      </div>      
    </tab> 
   
  </tabset>
</section>
